{% extends "base.html" %}
{% block extra_hd %}
    <title>Reset Password</title>
{% endblock %}

{% block wrap %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <div class="account-wall">
                    <h2 class="text-center">Reset Password</h2><br>
                    {% if form.errors.items %}
                        {% for field, errors in form.errors.items %}
                            <div class="row vertical-align">
                                <div class="col-sm-1 col-sm-offset-1"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#be1931; font-size: 225%"></span></div>
                                <div class="col-sm-9 col-sm-offset-1">
                                    {% for error in errors %}
                                        <span class="help-block">{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form class="form-signin" method="post" action=""> {% csrf_token %}
                        <input name='new_password1' type="password" class="form-control" placeholder="New Password" required autofocus>
                        <input name='new_password2' type="password" class="form-control" placeholder="New Password Confirm" required autofocus>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Reset Password</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

