{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Password Change</title>
{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Change Password</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action=""> {% csrf_token %}
        <input name='old_password' type="password" class="form-control top" placeholder="Old Password" required autofocus>
        <input name='new_password1' type="password" class="form-control mid" placeholder="New Password" required>
        <input name='new_password2' type="password" class="form-control bot" placeholder="New Password (confirm)" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
{% endblock %}