{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Password Reset</title>
{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Reset Password</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action=""> {% csrf_token %}
        <input name='email' type="email" class="form-control" placeholder="Email Address" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >
            Send Reset Email</button>
    </form>
{% endblock %}
