{% extends "base.html" %}
{% block extra_hd %}
    <title>Change Password</title>
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            window.setTimeout(function () {
                location.href = "/";
            }, 3000);
        });
    </script>
{% endblock %}

{% block page_content %}
    <div id="content" class="colM">

        <h1>Reset email sent!</h1>

        <p>Check your inbox for the reset link.</p>
        <p>Redirecting...</p>

        <br class="clear">
    </div>
{% endblock %}