{% extends "base.html" %}
{% block extra_hd %}
    <title>Reset Password</title>
{% endblock %}

{% block wrap %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h2 class="text-center">Reset Password</h2>
                {% if form.errors.items %}
                    <table>
                        {% for field, errors in form.errors.items %}
                            <tr>
                                <td style="padding: 10px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#be1931; font-size: xx-large"></span></td>
                                <td>
                                    {% for error in errors %}
                                        <span class="help-block">{{error}}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <div class="account-wall">
                    <form class="form-signin" method="post" action=""> {% csrf_token %}
                        <input name='email' type="email" class="form-control" placeholder="Email Address" required autofocus>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Send Reset Email</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}