{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Password Reset</title>
{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Reset Password</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action=""> {% csrf_token %}
        <input name='new_password1' type="password" class="form-control" placeholder="New Password" required autofocus>
        <input name='new_password2' type="password" class="form-control" placeholder="New Password Confirm" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Reset Password</button>
    </form>
{% endblock %}

