{% extends "base.html" %}
{% block extra_hd %}
    <title>Success!</title>
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            window.setTimeout(function () {
                location.href = "/login";
            }, 3000);
        });
    </script>
{% endblock %}

{% block wrap %}
    <div id="content" class="colM">

        <h1>Password change successful</h1>

        <p>Your password was changed.</p>
        <p>Redirecting...</p>

        <br class="clear">
    </div>
{% endblock %}