{% extends "base.html" %}
{% block extra_hd %}
    <title>Change Password</title>
{% endblock %}

{% block wrap %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h2 class="text-center">Change Password</h2>
                {% if form.errors.items %}
                    {% for field, errors in form.errors.items %}
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-1"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#be1931; font-size: x-large"></span></div>
                            <div class="col-sm-10">
                                {% for error in errors %}
                                    <span class="help-block">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="account-wall">
                    <form class="form-signin" method="post" action=""> {% csrf_token %}
                        <input name='old_password' type="password" class="form-control top" placeholder="Old Password" required autofocus>
                        <input name='new_password1' type="password" class="form-control mid" placeholder="New Password" required>
                        <input name='new_password2' type="password" class="form-control bot" placeholder="New Password (confirm)" required>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}