{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Update</title>
{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Update Account</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action="/account/"> {% csrf_token %}
        <input name='email' id="email" type="text" class="form-control" placeholder="Email"> <br>
        <input name='first_name' id="first_name" type="text" class="form-control top" placeholder="First Name">
        <input name='last_name' id="last_name" type="text" class="form-control bot" placeholder="Last Name">
        <br><br>
        <button class="btn btn-lg btn-primary btn-block" id="login-submit">Update</button>
    </form>
{% endblock %}