{% extends "base.html" %}

{% block extra_hd %}
<title>Account Detail</title>

<script type="text/javascript">
    $(function()
    {
        $('.input-group-addon').tooltip({
            trigger: 'click'
        });

    });

</script>
{% endblock %}

{% block page_content %}

<h2>My Account</h2>
<div class="row">
    <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Name: </td>
                        <td>{{user.get_full_name}} </td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Last Login:</td>
                        <td>{{user.last_login}}</td>
                    </tr>
                    <tr>
                        <td>Date Joined: </td>
                        <td>{{user.date_joined}}</td>
                    </tr>
                    <tr>
                        <td>Staff Status: </td>
                        <td>{% if user.is_staff %} Staff {% else %} None {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    </tr>
                </tbody>
          </table>
    <a href="/account/password_change/" class="btn btn-default">Modify Password</a>
    <a href="/account/update/" class="btn btn-default">Modify Account Details</a>
    </div>
</div>
{% endblock %}