{% extends "base.html" %}


{% block wrap %}

<style type="text/css">
.panel-title:hover {
    cursor: pointer;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.input-group-addon.lg {
    min-width:200px;
    text-align:left;
}
</style>

<head>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript">

    $(function() 
    {   
        $('#typefilt').multiselect(
        {
            buttonWidth: '100%',
            numberDisplayed: 3,
            checkboxName: 'typefilt',
            nonSelectedText: 'Any Type',
            nSelectedText: 'Selected Types',
            templates: {
                button: '<button type="button" class="btn-default btn-lg" data-toggle="dropdown" style="height:47px; padding: 10px 16px; line-height: 1.33; font-size: 16px; border: solid 1px; width"></button>',
            },
            buttonText: function(options, select) 
            {
                if (options.length == 0 || options.length == 6) 
                {
                  return this.nonSelectedText + ' <b class="caret"></b>';
                }
                else 
                {
                    if (options.length > this.numberDisplayed) 
                    {
                        return options.length + ' ' + this.nSelectedText + ' <b class="caret"></b>';
                    }
                    else 
                    {
                        var selected = '';
                        options.each(function() 
                        {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
             
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            },
        });
        $('#sortby').multiselect(
        {
            buttonWidth: '100%',
            checkboxName: 'sortby',
            templates: {
                button: '<button type="button" class="btn-default btn-lg" data-toggle="dropdown" style="height:47px; padding: 10px 16px; line-height: 1.33; font-size: 16px; border: solid 1px;"></button>',
            },
        });
    });

    $(function(){
        $('#asearch-submit').click(function(){
            $(':input').each(function(){
                if($(this).val() === "" && $(this).attr('name') !== "q"){
                    $(this).attr('disabled', true);
                }    
            });
            setTimeout(function(){$('#advanced-search-form').submit()}, 300);
        });
    })

    $(function(){
        $('#gsearch-submit').click(function(){
            $(':input').each(function(){
                if($(this).val() === "" && $(this).attr('name') !== "q"){
                    $(this).attr('disabled', true);
                }    
            });
            setTimeout(function(){$('#general-search-form').submit()}, 300);
        });
    })

    $(function(){
        var qstr = window.location.search.replace("?", "");
        var qstr_params = $.parseParams(qstr);
        for (var key in qstr_params)
        {
            if(key === 'typefilt' || key === 'type')
            {
                $('#typefilt').multiselect('select', qstr_params[key]);
            }
            else if (key === 'sortby' && qstr_params[key] !== "")
            {
                $('#sortby').multiselect('deselect', "");
                $('#sortby').multiselect('select', qstr_params[key]);
            }
            else
            {
                $('[name='+key+']').val(qstr_params[key]);
            }
        }
    })
    //onfocus="this.placeholder = ''" onblur="this.placeholder = 'E.g.: Agnus Dei...'"
    /*$(function(){
        $(':text').each(function{
            var placeholder = $(this).attr('placeholder');
            $(this).attr('placeholder-perm', placeholder);
            alert($this.attr('placeholder-perm'));
        })
        $(':text').focus(function() {
            $(this).attr('placeholder', "");
        });
        $(':text').blur(function() {
            var placeholderPerm = $(this).attr('placeholder-perm');
            $(this).attr('placeholder-perm', placeholderPerm);
        });
    })*/
    </script>
</head>

<body>
<div class="page-header">
    <h2>Search the Database</h2>
</div>

<div class="row col-12" style="background-color: #ffffff; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);">
    <!-- Tabs bar -->

        <ul class="nav nav-tabs nav-justified" style=>

            <li class="active"><a href="#gsearch" data-toggle="tab"><h4>General Search</h4></a></li>

            <li class=""><a href="#asearch" data-toggle="tab"><h4>Advanced Search</h4></a></li>

            <li class=""><a href="#help" data-toggle="tab"><h4>Information & Help</h4></a></li>

        </ul>

    <!-- Content -->

    <div class="tab-content">

        <!-- General Search -->
        <div class="tab-pane fade in active" id="gsearch">
        
            <!-- Accordion -->
                        <div class="panel-body" style="margin-bottom: 15px; margin-top:25px; ">
                            <form id="general-search-form" action="/search" method="get">
                                <!-- Query Entry -->
                                <div class="row">
                               
                                            <!-- <input type="text" name="q" class="search-input" placeholder="Search Query... &nbsp; E.g.: Bach Chorale Gott" size="35" style="float: none; margin: 0 auto;"/>                              
                                            <button type="submit" class="btn btn-default btn-sm" id="btn-submit">
                                              Search
                                              <span class="glyphicon glyphicon-search"></span> 
                                              placeholder="Search Query... &nbsp; &nbsp; &nbsp;E.g.: Bach Chorale Gott" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Query... &nbsp; &nbsp; &nbsp;E.g.: Bach Chorale Gott'"
                                            </button> -->

                                    <div class="input-group input-group-lg col-md-8 col-md-offset-2">
                                            <input type="text" class="form-control search" name="q"  style="text-align:center; border-radius:4px;">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default submit" type="button" id="gsearch-submit"> Search <span class="glyphicon glyphicon-search"></span> </button>
                                            </span>
                                    </div><!-- /input-group -->
                           
                                </div>
                                <p></p>

                                <!-- Filters --> 
                            </form>
                        </div>

        </div>

        <!-- Advanced Search -->
        <div class="tab-pane fade" id="asearch">
        
            <!-- Accordion -->
                        <div class="panel-body">

                        <form id="advanced-search-form" action="/search" method="get">
                        

                            <div class="form-group">
                              
                            <h3> General Search Query: </h3> 
                            
                            <div class="input-group input-group-lg">
                                    <span class="input-group-addon lg">Search Query</span>
                                    <input type="text" class="form-control" name="q" placeholder="E.g.: Byrd Hornpipe...">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span> 
                                </div>
                            

                            <h3> Limit Results by... </h3>
                            

                            <!-- Name Filter -->

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon lg">Title</span>
                                    <input type="text" class="form-control" name="titlefilt" placeholder="E.g.: Agnus Dei...">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span> 
                                </div>
                                <p></p>
                            <!-- Name Filter -->

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon lg">Composer's Name</span>
                                    <input type="text" class="form-control" name="namefilt" placeholder="E.g.: Jacob Obrecht...">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span> 
                                </div>
                                <p></p>

                            <!-- Tag Filter -->

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon lg">Tags</span>
                                    <input type="text" class="form-control" name="tagfilt" placeholder="E.g.: Tag1 Tag2 ...">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span> 
                                </div>
                                <p></p>

                            <!-- Voice Filter -->

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon lg">Number of Voices</span>
                                    <input type="text" class="form-control" name="voicefilt" placeholder="E.g.: 4">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span> 
                                </div> 
                                <p></p>

                            <!-- Date Filter -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group input-group-lg">
                                        <span class="input-group-addon lg">Date Range</span>
                                            <input type="text" class="form-control" name="datefiltf" placeholder="From: (YYYY)" >
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-group input-group-lg">
                                            <input type="text" class="form-control" name="datefiltt" placeholder="To: (YYYY)" >
                                            <span class="input-group-addon sm">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <p></p>

                           <!-- Checkbox Filters -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon lg">Result Type</span>
                                            <select id="typefilt" multiple="multiple">
                                                <option id="elvis_composer" value="elvis_composer">Composers</option>
                                                <option id="elvis_piece" value="elvis_piece">Pieces</option>
                                                <option id="elvis_movement" value="elvis_movement">Movements</option>
                                                <option id="elvis_corpus" value="elvis_corpus">Corpora</option>
                                                <option id="elvis_tag" value="elvis_tag">Tags</option>
                                                <option id="elvis_user" value="elvis_user">Users</option>
                                            </select>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </span> 
                                        </div> 
                                    </div>
                                </div>

                                <!-- Sorting --> 
                                <h3> Sort Results By... </h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon lg">Ordering Scheme</span>
                                            <select id="sortby">
                                                <option value=""> Default (Type) </option>
                                                <option value="name_sort asc"> Alphabetical &#9660; </option>
                                                <option value="name_sort desc"> Reverse Alphabetical &#9650; </option>
                                                <option value="date_general asc"> Chronological &#9660;</option>
                                                <option value="date_general desc"> Reverse Chronological &#9650; </option>
                                            </select>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </span> 
                                        </div> 
                                    </div>
                                </div>                   
                                             
                            </div>

                            <!-- Submit -->
                                <div class="col-md-2 col-md-offset-5">
                                    <button type="button" class="btn btn-default btn-xl submit" id="asearch-submit" >
                                        Search
                                        <span class="glyphicon glyphicon-search"></span> 
                                    </button>
                                </div>                                  
                            
                        </form>
                        </div>                    
  
        </div>

           <!-- Help  -->
        <div class="tab-pane fade" id="help">

            <div class="panel-body">
                <h4> General Searching </h4>
                <p> A basic, Google-esque search. Results are based on occurrences of the search terms in the title/name, composer, parent piece, and tag fields of an item. Items returned may be any type (e.g. a composer, a piece, or a corpus). Use this if you want to quickly look for the most relevant items - the database will order results based on relevancy. </p>
                <h4> Advanced Searching </h4>
                <p> A customisable search. Results are based on the search terms for specific, user-chosen fields of an item. Items returned may be restricted to specific types, and may be sorted on specific fields. Use this if you have a concrete idea of the items, and their attributes, that you are looking for. </p>
                <h4> Downloading Results </h4>
                <p> Each <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span></button> recursively sends its object's attachments to your downloads. For example, clicking this in a piece-typed result will send all of its attachments, and the attachments of its movements, to your downloads cart. The <button class="btn btn-success btn-sm">Add Results on Current Page to Downloads <span class="glyphicon glyphicon-plus"></span></button> will recursively send all the attachments of the current page's results to your downloads. In other words, it's like clicking all of the small green buttons at once. The <button class="btn btn-danger btn-sm"> Add All Query Results to Downloads <span class="glyphicon glyphicon-plus"></span></button> will do the same for every page of results in your query.</p>
            </div>
      
        </div>

    </div>

</div>

</body>

<div class="row col-12">


{% if content.current_query %}

 {% include "search/search_results.html" %}

{% endif %}
</div>

{% endblock %}
