{% extends "base.html" %}

{% block wrap %}


<div class="col-12">
<!-- Tabs bar -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#gsearch" data-toggle="tab">General Search</a></li>
  <li><a href="#asearch" data-toggle="tab">Advanced Search</a></li>
  <li><a href="#help" data-toggle="tab">Information & Help</a></li>
</ul>
   
<!-- Content -->

<div class="tab-content">

    <!-- General Search -->
    <div class="tab-pane fade in active" id="gsearch">
    
        <!-- Accordion -->
        <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Toggle General Search: </a>
                    </h1>
                </div>
                <div id="collapseOne" class="panel-collapse collapse {% if not content.current_query %} in {% endif %}">
                    <div class="panel-body">

                        <div class="col-md-4 col-md-offset-4">
                        <form id="general-search-form" action="/search" method="get">



                              <!-- Query Entry -->
                               <div class="form-group"> 
                                  
                                <input type="text" name="q" class="search-input" placeholder="Search Query" />
                                
                              <!-- Button -->
                                <button type="submit" class="btn btn-default btn-sm">
                                  Search
                                  <span class="glyphicon glyphicon-search"></span> 
                                </button>
                                
                                </div>

                        </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>

    <!-- Advanced Search -->
    <div class="tab-pane fade" id="asearch">
    
        <!-- Accordion -->
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Toggle Advanced Search: </a>
                    </h1>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse {% if not content.current_query %} in {% endif %}">
                    <div class="panel-body">

                    <form id="advanced-search-form" action="/search" method="get">
                    <div class="form-group">
                      
                      <!-- Checkbox Filters -->
                      <h4> Filter by Result Type: </h4>
                        <div class="col-sm-12">
                          <div class="col-sm-4">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="fcp" value=""> Composers
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="fp" value=""> Pieces
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="fm" value=""> Movements
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="fcr" value=""> Corpora
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="ft" value=""> Tags
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" name="fu" value=""> Users
                                  </label>
                                </div>
                               </div>
                          </div>

                    <!-- Tag Filter -->
                      <h4> Filter by Tags: </h4>
                          <div class = "col-sm-12">
                            <input type="text" name="tagfilt" placeholder="Tag1 Tag2 ...">
                          </div> 

                    <!-- Date Filter -->
                      <h4> Filter by Date: </h4>
                          <div class = "col-sm-12">
                            <input type="text" name="datefiltf" placeholder="From: (YYYY)">
                            <input type="text" name="datefiltt" placeholder="To: (YYYY)">
                            <p></p>(Will filter by birth or composition date, depending on type filters chosen above)
                          </div> 


                    <!-- Sorting --> 
                       <h4> Sort by: </h4>
                           <div class="col-sm-4">
                                 <select name="sortby">
                                 <option value=""> Default (Type) </option>
                                 <option value="title desc"> Title &#9650; </option>
                                 <option value="title asc"> Title &#9660; </option>
                                 <!--<option value="date_of_composition desc">Composition Date &#9650;</option>
                                 <option value="date_of_composition asc">Composition Date &#9660;</option>
                                 <option value="birth_date desc">Birth Date &#9650; </option>
                                 <option value="birth_date asc">Birth Date &#9660;</option> -->
                                 <option value="date_general desc"> Date &#9650; </option>
                                 <option value="date_general asc"> Date &#9660;</option>
                                 </select>                   
                            </div>                 

                    <!-- Submit --> 
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default btn-sm">
                              Search
                              <span class="glyphicon glyphicon-search"></span> 
                            </button> 
                        </div>

                    </div>
                    </form>
                    </div>                    
                </div>
            </div>
        </div>        
    </div>

       <!-- Help  -->
    <div class="tab-pane fade" id="help">
    
        <!-- Accordion -->
        <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Toggle Information & Help: </a>
                    </h1>
                </div>
                <div id="collapseThree" class="panel-collapse collapse {% if not content.current_query %} in {% endif %}">
                    <div class="panel-body">
                    <h4> General Searching </h4>
                    <p> Here's some information! </p>
                    <h4> Advanced Searching </h4>
                    <p> Here's some more information! </p>
                    <h4> Downloading Results </h4> 
                    <p> Is this helping? </p>
                    </div>
                </div>
            </div>
        </div>
  
    </div>

</div>

</div>

<div class="col-12">
{% if content.current_query %}
<h3>Results: </h3>



  {% include "search/search_results.html" %}

{% endif %}
</div>

<!-- <div class="col-md-4" >
    {% if content.facets %}
        <h2>Search Facets</h2>
        {% for name, facets in content.facets.facet_fields.items %}
        <div class="row">
            <h4>{{ name }}</h4>
            <ul>
                {% for facet, count in facets.items %}
                    <li><a class="facet-link" href="#" data-facet-name="{{ name }}" data-facet-value="{{ facet }}">{{ facet }} </a> ({{ count }})</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <script type="text/javascript">
            // this code manages what happens when a facet link is clicked.
            $(".facet-link").on('click', function(event)
            {
                var qstr = window.location.search.replace("?", "");
                var qstr_params = $.parseParams(qstr);

                var facetName = $(this).data('facet-name');
                var facetValue = $(this).data('facet-value');
                if (!(facetName in qstr_params))
                {
                    var facetQ = facetName + "=" + facetValue;
                    if (qstr != "")
                    {
                        // this makes sure that we either append the 
                        // querystring to an existing query string
                        // (with a "&") or we just append it to the
                        // existing URL.
                        facetQ = "&" + facetQ;
                    }

                    window.location.search = qstr + facetQ;
                }
                event.preventDefault();
            });
        </script>


  <script type="text/javascript">
  function downloadAll(){
    document.getElementsById("list-patch-download-form").submit();
  }

  $('#listDownload').click(function(){
    document.getElementsById("list-patch-download-form").submit();
  });
  </script> 
    {% endif %}


  <h3> Results <button id="listDownload" onclick="downloadAll()" class="btn btn-success btn-sm pull-right" style="display: inline;">
      Add All Results to Downloads <span class="glyphicon glyphicon-plus"></span> 
    </button> 
  </h3>

  <script type="text/javascript">
  function downloadAll(){
    var buttons = document.getElementsByClassName("recursive-patch-download-form");
    for(i = 0; i<buttons.length; i++){
      buttons[i].submit();
    }
  }
  </script> 

     -->
</div>

{% endblock %}
