*.pyc
*.sqlite3
.idea
solr/target/*
solr/logs/*
solr/suggestions*
elvis_env/*
elvis_virtualenv
.env
.DS_Store
dumps
elvis/media/
media_root/*
static_root/*
pom.xml
*.iml
env_3
dump.rdb
#Local file ignores
solr/solr/collection1/conf/solrconfig.xml
elvis/settings.py
elvis/wsgi.py
