*.pyc
*.sqlite3
solr/target/*
elvis_env/*
.DS_Store
dumps
**/attachments/*
**/elvis-files/*
**/user_downloads/*
elvis-files.tgz
ddmal_elvis.sql
ddmal_drupal.sql
elvis/elvis/media/
!elvis/elvis/media/.gitignore
