# Django
django >=1.7.b4
django-extensions==1.3.6
djangorestframework==2.3.13
psycopg2==2.5.2
solrpy==0.9.6

# for importing the old (Drupal) database
MySQL-python >=1.2, <1.3

# I think we're not using these right now
# Pillow==2.4.0
# Werkzeug==0.9.4
# wsgiref==0.1.2
