amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
Django==1.8.1
django-extensions==1.5.3
djangorestframework==3.1.1
kombu==3.0.26
librabbitmq==1.5.2
MySQL-python==1.2.5
Pillow==2.8.1
psycopg2==2.6
pytz==2014.3
six==1.9.0
solrpy==0.9.6
Werkzeug==0.10.4
