{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h2>415: Unsupported Media Type</h2>
</div>

    <p>
        You did not upload an files supported by the database! <br>

        Supported file-types are: .xml, .mxl, .krn, .md, .nwc, .tntx, .capx, .abc, .mid, .midi, .pdf. <br>

        We also support a zip file containing any of the above.
    </p>
    <p>
        If you believe you are seeing this page as the result of an error, please <a href="mailto:elvisdatabase@gmail.com?subject=Bug%20Report" target="_blank">
        contact us.</a>
    </p>

{% endblock %}
