{% extends "base.html" %}

{% block extra_hd %}
<title>About</title>
{% endblock %}

{% block wrap %}

<div class="page-header">
    <h2>About</h2>
</div>
<p>Welcome to the database for the ELVIS project!</p>
<p class="lead">Structure</p>
<p> Forthcoming... </p>
<p class="lead">Metadata</p>
<p> Forthcoming... </p>
<p class="lead">Searching</p>
<p> Forthcoming... </p>
<p class="lead">Downloading & The ELVIS Counterpoint Web Application </p>
<p> Forthcoming... </p>
<p class="lead">Uploading </p>
<p> Forthcoming... </p>
{% endblock %}