{% extends "base.html" %}

{% block extra_hd %}
    <title>About</title>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-1" >
            <div class="page-header">
                <h2>About the Elvis Database<br>
                <small>{{ piece_count }} Pieces and {{ movement_count }} Movements by {{ composer_count }} Composers</small></h2>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            Welcome to the ELVIS database, one of the largest online repositories of symbolic musical data.
            Here you can <a href="/search/">search</a> for music in different file formats—including MEI, MusicXML, MIDI, and
            others—and <a href="/download-cart">download</a> pieces to analyze with our <a href="http://counterpoint.elvisproject.ca/">ELVIS Counterpoint Web App</a> or other
            programs (such as <a href="http://web.mit.edu/music21/">music21</a>). You can also contribute to the database by <a href="/pieces/create/">uploading your own
            files</a>. To access the database, you must register <a href="/register/">on this page</a>. Registration is free and open to
            everyone.
        </p>
        <p>
            Detailed metadata accompanies files on the database, including fields such as date and place of
            composition, musical genre, and instrumentation. This metadata allows users to easily search for
            and download groupings of works: for example, all of the database’s’ MusicXML files of sacred
            vocal music composed in Italy in the sixteenth century. Some files have already been organized
            into collections, for example the <a href="/collection/2/">Palestrina Masses</a> collection and the <a href="collection/8/">Machaut Collection</a>
            (<a href="/collections/">click here</a> for a list of all of the collections in the database).
        </p>
        <p>
            ELVIS stands for Electronic Locator of Vertical Interval Successions. The ELVIS project
            was originally funded by a <em>Digging into Data Challenge</em> grant; it is now the search and analysis
            branch of the <a href="https://simssa.ca/">Single Interface for Music Score Searching and Analysis project (SIMSSA)</a>. Both
            ELVIS and SIMSSA are based at the <a href="http://www.mcgill.ca/music/">Schulich School of Music at McGill University</a> in
            Montreal, Canada.
        </p>
        <p>
            The ELVIS database began in January 2012. McGill students, faculty and postdocs have been responsible
            for database design and maintenance and have also uploaded the majority of the music on the
            database.
        </p>
        <p>
            If you have any questions or comments about the ELVIS database, please email
            <a href="mailto:elvisdatabase@gmail.com">elvisdatabase@gmail.com</a>
        </p>
    </div>
</div>
{% endblock %}