{% extends "base.html" %}

{% block extra_hd %}
    {% load staticfiles %}
    {% load compress %}
    {% compress js %}
    <script type='text/javascript' src="{% static "js/elvis-scripts/autocomplete.js" %}"></script>
    <script>
        $(document).ready(function ($)
        {
            autocomplete("search-input", "search-suggestions", "generalSuggest", 'bool');
            $("#search-input").keyup(function(event){
                if (event.which === 13)
                    $("#general-search-form").submit()
            })
        });
    </script>
    {% endcompress %}

    <title>Elvis Database</title>
{% endblock %}
{% block full-header %}
    <div class="front-page-header" style="text-align:center">
        <div class="panel-body search">
            <form id="general-search-form" action="/search/" method="get">
                <div class="row">
                    <label for="search-input" hidden="hidden">General Search Keyword</label>

                    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <img src="{{ STATIC_URL }}img/elvis1.png" height="150" style="margin-bottom:55px; padding-right:20px" alt="ELVIS Database">
                        <div style="margin: auto; max-width:600px; min-width:430px">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" id='search-input' autocomplete="off" name='q'/>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit" id="gsearch-submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            </div>
                            <div id="search-suggestions" style="text-align:left"></div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block page_content %}
    <div class="row" id="home-nav" style="text-align: center">
        <div class="col-sm-4">
            <div style="margin-left:40px; margin-right:40px">
                <h2 class="media-heading"><a href="{% url 'search-view' %}">Search</a></h2>
                <p>Powerful multi-field search for scores in symbolic notation with metadata.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="margin-left:40px; margin-right:40px">
                    <h2 class="media-heading"><a href="{% url 'download-cart' %}">Download</a></h2>
                <p>Add scores to your cart as if shopping, then download only the files you need.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="margin-left:40px; margin-right:40px">
                <h2 class="media-heading"><a href="{% url 'piece-create' %}">Upload</a></h2>
                <p>Upload pieces, movements, and collections of symbolic notation </p>
            </div>
        </div>
    </div>
{% endblock %}
