{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Login</title>
{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Login to your account</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action="/login/"> {% csrf_token %}
        <input name='username' type="text" class="form-control top" placeholder="Username" required autofocus>
        <input name='password' type="password" class="form-control bot" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="login-submit" data-toggle="tooltip" data-container="body" data-placement="right" data-html='true' title="You haven't enabled cookies... this site requires cookies.">
            Sign in</button>
    </form>
{% endblock %}

{% block under_wall_content %}
    <a href="/register/">Create an account</a> - <a href="/password/reset" class="text-center">Forgot your password?</a>
{% endblock %}
