{% extends "base/base_account.html" %}

{% block extra_hd %}
    {{ block.super }}
    <title>Login</title>

    {% load compress %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% compress css %}
    <style>
        .captcha {
            text-align: center;
        }

        .g-recaptcha {
            display: inline-block;
        }
    </style>
    {% endcompress %}

{% endblock %}

{% block account_wall_content %}
    <h2 class="text-center">Register for an account</h2><br>
    {% include "base/account_error_list.html" with form=form %}

    <form class="form-signin" method="post" action="/account/"> {% csrf_token %}
        <input name='username' id=username type="text" class="form-control top" placeholder="Username" required autofocus>
        <input name='email' id="email" type="text" class="form-control mid" placeholder="Email" required>
        <input name='password1' id='password1' type="password" class="form-control mid" placeholder="Password" required>
        <input name='password2' id='password2' type="password" class="form-control bot" placeholder="Password (confirm)" required>
        <br>
        <input name='first_name' id="first_name" type="text" class="form-control top" placeholder="First Name" required>
        <input name='last_name' id="last_name" type="text" class="form-control bot" placeholder="Last Name" required>
        <br>
        <div class="captcha">
        <div class="g-recaptcha" data-sitekey="6LfV4gsTAAAAAGK8vA-O2RrABlIb_XbNywrxJrTS"></div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="login-submit">Register</button>
    </form>
{% endblock %}

{% block under_wall_content %}
    <a href="/register/">Create an account</a> - <a href="/password/reset" class="text-center">Forgot your password?</a>
{% endblock %}
