{% extends "base.html" %}

{% block wrap %}

<script type="text/javascript">
    $(document).ready(function ($)
    {
        // initialize the download manager script
        $.cookie('test_cookie', 'cookie_value', { path: '/' });
        if ($.cookie('test_cookie') == 'cookie_value')
        {
            $('#login-submit').attr('class', 'btn btn-lg btn-primary btn-block');
            $.cookie("test_cookie", null, { path: '/' });
        }
        else
        {
            //window.alert("You don't have cookies enabled... this site requires the use of cookies.");
            $('#login-submit').attr('class', 'btn btn-lg btn-primary btn-block disabled');
            $('#login-submit').tooltip('show');
        }
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Create New Account</h1>
            <div class="account-wall">
                {% if form.errors.items %}
                    <table>
                        {% for field, errors in form.errors.items %}
                            <tr>
                                <td style="padding: 10px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#be1931; font-size: xx-large"></span></td>
                                <td>
                                    {% for error in errors %}
                                        <span class="help-block">{{error}}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <form class="form-signin" method="post" action="/account/"> {% csrf_token %}
                    <input name='username' id=username type="text" class="form-control top" placeholder="Username" required autofocus>
                    <input name='email' id="email" type="text" class="form-control mid" placeholder="Email" required>
                    <input name='password1' id='password1' type="password" class="form-control mid" placeholder="Password" required>
                    <input name='password2' id='password2' type="password" class="form-control bot" placeholder="Password (confirm)" required>
                    <br>
                    <input name='first_name' id="first_name" type="text" class="form-control top" placeholder="First Name" required>
                    <input name='last_name' id="last_name" type="text" class="form-control bot" placeholder="Last Name" required>
                    <br><br>
                    <button class="btn btn-lg btn-primary btn-block" id="login-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}