{% extends "base.html" %}

{% block extra_hd %}
    <title>Terms of Service</title>
{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h2 style="text-align:center">
                {% if content.data.accepted_tos %}
                    You have already accepted our terms of service.
                {% else %}
                    You must accept our terms of service to continue.
                {% endif %}
            </h2>

            <br>
            <div id="TOS-text">
                <p>
                <h3>Fair Use.</h3> You may access and view the content on the ELVIS database (henceforth EDB) on your
                computer or other personal device, and, unless otherwise indicated in these Terms of Use, registered
                users are free to download and/or modify the content for educational or research purposes. Use of
                EDB and any downloaded material or derivative works are strictly for personal, non-commercial use
                only. Redistribution of downloaded material is strictly prohibited.
                </p>
                <p>
                <h3>Content and Monitoring.</h3> The owners of EDB do not have an obligation but reserve the right to
                monitor
                and/or review all materials posted to EDB by registered users. Users are advised to check the
                copyright status of materials prior to uploading. The owners of EDB are not responsible for any
                copyrighted materials posted by users. The owners of EDB reserve the right to remove any information
                or materials, in whole or in part, that in EDB’s discretion are objectionable or in violation of
                this Terms of Use.

                </p>

                <hr>
            </div>
            {% if not content.data.accepted_tos %}
                <div style="text-align: center">
                    <form id="TOS-form" action="/tos/" method="post">{% csrf_token %}
                        <a type="button" class="btn btn-default" href="/logout">Logout</a>
                        <input type="checkbox" hidden="hidden" name="accepts-TOS" checked/>
                        <button type="submit" class="btn btn-primary" id="TOS-accept-button">I Accept</button>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
