<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style>
body {
    background-color:#F0F8FF;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    line-height:34px;
    margin-left:15px;
}

.glyphicon {
    margin-right:5px;
    margin-left:15px;
}

.glyphicon-home {
    margin-top:10px;
    color:#000000;
}

input {
    width:300px;
    border-radius:3px;
    height:40px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
input:focus {
    background:#E0FFFF;
    font-weight:bold;
}

#login-form {
    background-color:#F3F3F3;
    /*-moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;*/
    box-shadow:0px 0px 3pt 2pt;
    border-radius:6px;
    /*outline:solid;
    outline-width: 2px;*/
    width:350px;
    height:300px;
    margin-top:5%;

}

#error {
    background-color:#CD5C5C;
    color:#FFFFFF;
    text-align:center;
    margin-top:8px;
    margin-bottom:-3px;
}

</style>

<body>

<a href="/"><span class="glyphicon glyphicon-home"></span></a>

    <form method="post" class="form-horizontal" action="">
    {% csrf_token %}
        <div class="container" id="login-form">

            {% if error_message %}
                <div class="row" id="error">
                    <p style="font-size:1.1em; margin-top:5px"> {{error_message}}</p>
                </div>
            {% endif %}

            <div class="row">
                <h2>Login</h2>
            </div>
            <div class="content">
                <div class="row">
                    <span class="glyphicon glyphicon-user"></span>
                    <input name="username" type="text" class="input username" placeholder="Username" />
                </div><br>
                <div class="row">
                    <span class="glyphicon glyphicon-lock"></span>
                    <input name="password" type="password" class="input password" placeholder="Password" /> 
                </div>    
            </div>
            <br>
            <div class="footer">
               <button type="submit" class="btn btn-primary">Login</button> </form>
               <form action="/permission/" style="display:inline;">
                    <button class="btn btn-info">Request permission</button>
                </form>
            </div>
        </div>
</body>
