<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style>
body {
    background-color:#F0F8FF;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    line-height:34px;
    margin-left:15px;
}
p {
    font-family:'Bree Serif', serif;
    margin-left:15px;
}

.glyphicon {
    margin-right:5px;
    margin-left:15px;
}

.glyphicon-home {
    margin-top:10px;
    color:#000000;
}

input {
    border-radius:3px;
    height:40px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    margin-left:15px;
}
input:focus {
    background:#E0FFFF;
    font-weight:bold;
}
.input-email {
    width:450px;
}
.input-firstname {
    width:215px;
}
.input-lastname {
    width:215px;
}

#login-form {
    background-color:#F3F3F3;
    /*-moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;*/
    box-shadow:0px 0px 3pt 2pt;
    border-radius:6px;
    /*outline:solid;
    outline-width: 2px;*/
    width:500px;
    height:350px;
    margin-top:5%;

}

#failure, #success {
    color:#FFFFFF;
    text-align:center;
    margin-top:8px;
    margin-bottom:-3px;
}
#failure {
    background-color:#CD5C5C;
}
#success {
    background-color:#00FF7F;
}

</style>

<body>

<a href="/"><span class="glyphicon glyphicon-home"></span></a>

    <form method="post" class="form-horizontal" action="">
    {% csrf_token %}
        <div class="container" id="login-form">

            {% if success %}
                <div class="row" id="success">
                    {{success}}
                </div>
            {% else %}
                {% if failure %}
                    <div class="row" id="failure">
                        {{failure}}
                    </div>
                {% endif %}
            {% endif %}

            <div class="row">
                <h2>Request permission to join ELVIS</h2>
                <p>An email will be sent to an administrator with your contact information. Once he or she validates your email, an email will be sent to you containing a link to a page where you can create your user profile with the administrator-specified permissions. </p>
            </div>
            <div class="content">
                <div class="row">
                    <input name="first-name" type="text" class="input-firstname" placeholder="firstname" />
                    <input name="last-name" type="text" class="input-lastname" placeholder="lastname" />
                    <br><br>
                    <input name="email" type="email" class="input-email" placeholder="email address" />
                </div><br>   
            </div>
            <br>
            <div class="footer">
               <button type="submit" class="btn btn-info">Request permission</button>
            </div>
        </div>
    </form>
</body>
