{% extends "base.html" %}

{% block wrap %}

<div class="col-md-12">
    <div class="page-header">
        <h2>Your Downloads</h2>
    </div>
    Zip progress:
    <div class="progress progress-striped active" id="progressouter" style="">
      <div class="progress-bar progress-bar-info" id="progress" style=""></div>
    </div> 
    <iframe id="downloadFrame" style="display:none"></iframe>


    <a href="" id="download_now" class="button" style="display: none">Download your files...</a>

<!-- LM TODO: Catch exceptions to stop it from setIntervalling over the exception infinitely -->

    <script type="text/javascript" >

    $(document).ready(function()
    {
        
        // To get the query string from current url, http://snipplr.com/view/799/get-url-variables/
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        // To check for the download cookie, http://stackoverflow.com/questions/10730362/get-cookie-by-name

        function getCookie(name) 
        {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }


        // To update the progress bars, modified from http://elfga.com/blog/2012/10/03/bootstrap-progress-bar-update-jqueryajax/
        var statePoll = setInterval(function()
        {
            /* query the completion percentage from the server */
            // Get current task_id
            var task_id = getUrlVars()["task"];
            // Make it the next query and do the query
            var download_cookie = getCookie(task_id);
          
                $.get("").done(function(data)
                {
                  // Old checks: "Content-Length" in data || !("percent" in data) || data["percent"] >= 100 || 
                    if(download_cookie)
                    {
                        clearInterval(statePoll);
                        $("#progress").css('width',100+'%');
                        $("#progress").html("Files Ready");
                        $("#download_now").href=document.URL;
                        $('#download_now').show();
                    }
                    // TODO: Handle bad requests
                    $("#progress").css('width',data["percent"]+'%');
                    if(data["percent"]) $("#progress").html(data["percent"]+'% of Files Zipped');
                }
            ); 
        }, 500);
    }); 

    </script> 

</div>

{% endblock %}
