{% extends "base.html" %}


<!-- LM: TODO Move download history elsewhere --> 

{% block wrap %}
<div class="row">
    <div class="col-md-12">
        <h2>Your Downloads</h2>
        <form id="download-form" action="/downloading/" method="post" > {% csrf_token %}
        <div class="row">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Download</th>
                        <th>Title</th>
                        <th>File Name </th>
                        <th>Composer</th>
                        <th>Type</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attachment in content.attachments %}
                        <tr>

                            {% for piece in attachment.pieces %}
                                <td>
                                <input type="checkbox" name="item" value="{{ attachment.attachment_path }}/{{ attachment.file_name }}" checked="true">
                                </td>
                                <td><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                                <td> {{ attachment.file_name }} </td>
                                <td><a href="{{ piece.composer.url }}">{{ piece.composer.name }}</a></td>
                                <td><span class="label label-success">Piece</span></td>
                                <td class="danger">
                                    {% include "includes/delete-badge-inc.html" %}
                                </td>
                            {% endfor %}
                            {% for mvmt in attachment.movements %}
                                <td>
                                <input type="checkbox" name="{{ attachment.attachment_path }}/{{ attachment.file_name }}" value="" checked="true">
                                </td>
                                <td><a href="{{ mvmt.url }}">{{ mvmt.title }}</a></td>
                                <td> {{ attachment.file_name }} </td>
                                <td><a href="{{ mvmt.composer.url }}">{{ mvmt.composer.name }}</a></td>
                                <td><span class="label label-info">Movement</span></td>
                                <td class="danger">
                                    {% include "includes/delete-badge-inc.html" %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                <em>No downloads.</em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <h4>Select file types to download</h4>
            <!-- if these are modified, modify downloading_item view too -->
            <label class="checkbox-inline">
                <input type="checkbox" id="mei-select" name="extension" value=".mei" checked="true"> MEI
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="musicxml-select" name="extension" value=".xml" checked="true"> MusicXML
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="midi-select" name="extension" value=".midi" checked="true"> MIDI
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="pdf-select" name="extension" value=".pdf" checked="true"> PDF
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="kern-select" name="extension" value=".krn" checked="true"> **kern
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="else-select" name="extension" value="OTHERS" checked="true"> All others
            </label>
            <span class="help-block">Select which file types you wish to download. If a piece or movement does not have one of your selected file types, it will not be downloaded. Choose "all others" to download any formats that do not appear in this list.</span>
        </div>
        <div class="row">
            <button id="download-all" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Download</button>
            <button type="button" class="btn btn-danger">Clear all</button>
        </div>
    </form>
    </div>




    <!-- LM: TODO move elsewhere 
    <div class="col-md-0">
        <h4>Download History</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for download in user.downloads.items %}
                    <tr>
                        <td>{{ download.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
</div>

{% endblock %}