{% extends "base.html" %}
{% load rest_framework %}

{% block wrap %}

<style type="text/css">

#main-result-frame {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
}

.icon-file {
	margin-left:5px;
}
.icon-download-alt, .icon-remove {
	margin-right:7px;
}

.submit-row {
	text-align:center;
}

input {
	width:15px;
	height:15px;
    padding: 5px;
    vertical-align: top;
    position: relative;
    *overflow: hidden;
}
table {
	margin:0 auto;
}

</style>

<script type="text/javascript">
function checkAll(source) {
  checkboxes = document.getElementsByName('download-item');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

<div class="container-fluid" id="main-result-frame">
{% if content %}
 
	{% with total=content|length %}
	<h4> You have {{ total }} file{{ total|pluralize }} saved for download.</h4>
	<input type="checkbox" id="check" onClick="checkAll(this)"/> <b style="font-size:1.2em;color:#CD5C5C;">select all</b>
	{% endwith %}

	<br><br>

	<form method="post" name="remove-saved" action="">{% csrf_token %}
	<form method="post" name="download-saved" action="download/">{% csrf_token %}
	<ul>
		{% for download_item in content %}
   		<li><label for="{{download_item.id}}"><input type="checkbox" value="{{download_item.id}}" id="{{download_item.id}}" name="download-item"/> <a href="">{{download_item.attachment}}</a> <i class="icon-file"></i></label></li>
		{% endfor %}
	</ul>

<div class="submit-row">
	<table>
	<tr> <td>
	<!-- this has to do something different from other form, download files immediately --> 
	<button type="submit" value="Download" class="btn btn-primary"><i class="icon-download-alt"></i>Download now</button>
	</form></td>
	<td>
	<button type="submit" value="Download" class="btn btn-warning"><i class="icon-remove"></i>Remove</button>
	</form></td>
</tr>
	</table>
</div>
{% else %}
	<h4>Your download cart is empty.</h4>
{% endif %}

</div>

{% endblock %}