{% extends "base.html" %}

{% block wrap %}
<h2>Movements <small>({{ content.count }})</small></h2>

{% include "paginate.html" with content=content %}

<div class="list-group">
{% for movement in content.results %}
    <a href="{{ movement.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ movement.title }} ({{ movement.composer.name }})</h4>
        <p class="list-group-item-text">
            <small>Uploaded by {{ movement.uploader.username }} on {{ movement.created }}</small><br />
            {{ movement.comment | truncatechars:100 }}
        </p>
    </a>
{% endfor %}
</div>

{% include "paginate.html" with content=content %}

{% endblock %}