
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/holder.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-default" role="navigation"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ELVIS</a>
            </div>
                    
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/queries">Queries</a></li>
                    <li id="separator"><a href="/userprofiles">Everyone</a></li>
                    <li><a href="#">Me</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/downloads">Downloads</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/{{ user.id }}">Account Settings</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login/">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/search">Search</a></li>
                    </ul>
                    <hr />
                    <h4>Browse</h4>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/corpora">Corpora</a></li>
                        <li><a href="/composers">Composers</a></li>
                        <li><a href="/pieces">Pieces</a></li>
                        <li><a href="/movements">Movements</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    {% block wrap %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>


</html>








