{% extends "base.html" %}

{% block wrap %}

<script type="text/javascript">  
    $(document).ready(function ($) 
    {
        // initialize the download manager script
        $.cookie('test_cookie', 'cookie_value', { path: '/' });
        if ($.cookie('test_cookie') == 'cookie_value') 
        {
            $('#login-submit').attr('class', 'btn btn-default');
            $.cookie("test_cookie", null, { path: '/' });
        }
        else
        {
            //window.alert("You don't have cookies enabled... this site requires the use of cookies.");
            $('#login-submit').attr('class', 'btn btn-default disabled');
            $('#login-submit').tooltip('show');
        }
    });
</script>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form role="form" method="post" action="/login">
{% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="id_username">
            {{ form.username.label_tag }}
        </label>
        <div class="controls">
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_password">
            {{ form.password.label_tag }}
        </label>
        <div class="controls">
            {{ form.password }}
        </div>
    </div>
    <button type="submit" class="btn btn-default" id="login-submit" data-toggle="tooltip" data-container="body" data-placement="right" data-html='true' title="You haven't enabled cookies... this site requires cookies.">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}