{% extends "base.html" %}
{% load rest_framework %}
{% load filter_methods %}

{% block wrap %}

<style type="text/css">

#main-result-frame {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
}

.composer-picture {
	width:230px;
	height:150;
	overflow:hidden;
}

.header {
	margin-top:20px;
}

.composer-name {
	font-size:2em;
	font-weight:bold;
}

.composer-dates {
	font-size:1.1em;
	font-weight:bold;
	color:#A0A0A0;
	margin-top:5px;
}

#creator-name {
	color:#808080;
	text-decoration:underline;
}

#check {
	margin-right:3px;
	margin-bottom:5px;
}

.icon-download, .icon-download-alt {
	margin-left:4px;
	margin-right:10px;
}

#submit-row {
	margin-top:50px;
	text-align:center;
}

.edit {
	margin-top:4px;
}

.edit,.delete {
	font-size:.9em;
	text-decoration:underline;
}
.icon-pencil,.icon-remove {
	margin-right:3px;
}

.dostuff {
    border: .3em solid #FFFFFF;
    height: 4em;
    width: 5em;
    text-align: center;
    background:#FFFFFF;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

</style>

<script type="text/javascript">
// function to open a popup window with form 
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=450,width=550,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>

<script type="text/javascript">
function saveAll(source) {
  checkboxes = document.getElementsByName('save-pieces');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<script type="text/javascript">
function downloadAll(source) {
  checkboxes = document.getElementsByName('download-pieces');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

<div class="container-fluid" id="main-result-frame">

<div class="row-fluid">
	<div class="header">
		<div class="span3">
			<img class="composer-picture" src="{{MEDIA_URL}}photos/composers/{{content.picture}}" alt="pic"/>
		</div>
		<div class="span7">
			<div class="composer-name">{{content.name}}</div>
			<div class="composer-dates">{{content.birth_date}} - {{content.death_date}}</div>
			<br>
			<div class="row-fluid">
				<div class="span3">
			<input type="checkbox" id="check" onClick="saveAll(this)"/> <b style="font-size:.85em;color:#CD5C5C;">save all</b> </div>
			<div class="span4">
			<input type="checkbox" id="check" onClick="downloadAll(this)"/> <b style="font-size:.85em;color:#CD5C5C;">download all</b><br/></div>
			</div>
		</div>
		<div class="span2">
			<div class="dostuff">
				<div class="edit"><i class="icon-pencil"></i><a href="">edit</a></div>
				<div class="delete"><i class="icon-remove"></i><a href="JavaScript:newPopup('{{url}}delete/');">delete</a></div>
				
			</div>
		</div>
	</div>
</div>
<br></br>
<form method="post" name="download-composers" action=""> {% csrf_token %}
<div class="row-fluid" id="lists">
	<div class="span6">
		<h4>{{content.name}}'s pieces ({{pieces|length}})</h4>
		<table cellpadding="3">
			<tbody>
			{% for piece in pieces %}
				<tr>
					{% with p="/pieces/" %}
					<td><a href="{{p}}{{piece.id}}">{{piece}}</a></td>
					{% endwith %}
		 			<td class="pull-right"> <input type="checkbox" value="{{piece.id}}" id="check" name="download-pieces"/><i class="icon-download-alt"></i><input type="checkbox" value="{{piece.id}}" id="check" name="save-pieces"/><i class="icon-download"></i>
		 			</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="span6">
		<h4>{{content.name}}'s movements ({{movements|get_length}})</h4>
		<table cellpadding="3">
			<tbody>
			{% for piece in pieces %}
			{% for movement in movements|get_value:piece.id %}
				<tr>
					{% with m="/movements/" %}
					<td><a href="{{m}}{{movement.id}}">{{piece.title}}: {{movement}}</a></td>
					{% endwith %}
		 			<td class="pull-right"> <input type="checkbox" value="{{movement.id}}" id="check" name="download-movements"/><i class="icon-download-alt"></i><input type="checkbox" value="{{movement.id}}" id="check" name="save-movements"/><i class="icon-download"></i>
		 			</td>
				</tr>
			{% endfor %}
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row-fluid" id="submit-row">
<button type="submit" value="Download" class="btn btn-primary">Download and save</button> {% csrf_token %}
</form>
</div> 

</div>


{% endblock %}