{% extends "base.html" %}

{% block wrap %}
    <h2>Composers <small>({{ content.count }})</small></h2>

    {% include "paginate.html" with content=content %}

    <div class="list-group">
    {% for composer in content.results %}
        <a class="list-group-item" href="{{ composer.url }}">
            <h4 class="list-group-item-heading">{{ composer.name }} <small>({{ composer.birth_date|default_if_none:"n.d." }}&ndash;{{ composer.death_date|default_if_none:"n.d." }})</small></h4>
            <p class="list-group-item-text">
                {% if composer.picture %}
                    <img src="{{ composer.picture }}" />
                {% endif %}
            </p>
        </a>
    {% endfor %}
    </div>

    {% include "paginate.html" with content=content %}

{% endblock %}