{% extends "base.html" %}

{% block wrap %}
    <h2>Composers <small>({{ content.count }})</small></h2>

    {% include "paginate.html" with content=content %}

    <ul class="media-list">
    {% for composer in content.results %}
        <li class="media">
            <a class="pull-left" href="#">
                {% if composer.picture %}
                <img src="{{ composer.picture }}" class="media-object" />
                {% else %}
                <img data-src="holder.js/100x100/text:No Picture" class="media-object" />
                {% endif %}
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ composer.url }}">{{ composer.name }}</a> <small>({{ composer.birth_date | date:"Y" }}&ndash;{{ composer.death_date | date:"Y" }})</small></h4>
                <span class="badge">{{ composer.pieces | length }} Pieces</span>
                <p>
                </p>
            </div>
        </li>
    {% endfor %}
    </ul>

    {% include "paginate.html" with content=content %}

{% endblock %}