{% extends "base.html" %}

{% block wrap %}
    <div class="page-header">
        <h2>Composers <small>({{ content.count }})</small></h2>
    </div>
    {% include "paginate.html" with content=content %}

    <ul class="media-list">
    {% for composer in content.results %}
        <li class="media">
            <div class="col-md-2">
                <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                    <img src="{% if content.image %} {{ content.image }}  {% else %} holder.js/180x180/text:No Picture {% endif %}" class="img-responsive" style="position:absolute;"/>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ composer.url }}">{{ composer.name }}</a> <small>({{ composer.birth_date | date:"Y" }}&ndash;{{ composer.death_date | date:"Y" }})</small></h4>
                <span class="badge alert-info">{{ composer.pieces | length }} Pieces</span>
                <p>
                </p>
                {% include "includes/download-badge-inc.html" with download_type="elvis_composer" download_item_id=composer.id %}
            </div>
        </li>
    {% endfor %}
    </ul>

    {% include "paginate.html" with content=content %}

{% endblock %}