{% extends "base.html" %}

{% block wrap %}
<div class="row">
    <div class="col-md-2">
        {% if content.picture %}
            <img src="{{ content.picture }}" />
        {% else %}
            <img data-src="holder.js/100x100/text:No Picture" />
        {% endif %}
    </div>
    <div class="col-md-10">
        <h2>{{ content.name }} <small>({{ content.birth_date | date:"Y" }}&ndash;{{ content.death_date | date:"Y" }})</small></h2>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Pieces</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for piece in content.pieces %}
                    <tr>
                        <td class="small-column">
                            {% include "includes/download-badge-inc.html" with download_type="piece" download_item_id=piece.item_id %}
                        </td>
                        <td>
                            <a href="{{ piece.url }}">{{ piece.title }}</a>
                            {% if piece.movements %}
                            <h5>Movements</h5>
                                <ul>
                                {% for movement in piece.movements %}
                                    <li>{% include "includes/download-badge-inc.html" with title="" download_type="movement" download_item_id=movement.item_id %}<a href="{{ movement.url }}"> {{ movement.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td><em>No pieces</em></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}