<script type="text/javascript">

// This globally keeps track of the number of user input fields added/deleted 
var arrInput = new Array(0);
var arrInputValue = new Array(0);
fields = 1;
maxInput = 4;  // Max number of users you can add at a time is 10

// Add an input field 
function addInput() {
 if(fields <= maxInput){
     fields +=1;
     arrInput.push(arrInput.length);
     arrInputValue.push("");
     display();
 }
}

// Display the input fields
function display() {
 document.getElementById('parah').innerHTML="";
 for (intI=0;intI<arrInput.length;intI++) {
   document.getElementById('parah').innerHTML+=createInput(arrInput[intI], arrInputValue[intI]);
 }
}

function saveValue(intId,strValue) {
 arrInputValue[intId]=strValue;
}

// Create html for the input field 
function createInput(id,value) {
    return "<div class='row-fluid'> <div class='span7' id='email-field'><i class='icon-user'></i> <input type='email' name='add-user' id='add-user'></input></div></div>";
}

// Delete the input field 
function deleteInput() {
 if (arrInput.length > 0) {
    fields -=1;
    arrInput.pop();
    arrInputValue.pop();
 }
 display();
}

</script>

<style>
#email-field {
    border-bottom:dotted;
    border-width:1px;
}

.icon-user {
    margin-right:5px;
}

#add-user {
    width:280px;
    border:0;
    background:none;
    outline:0;
}

</style>

<form action="" method="post">

<div class="row-fluid">
	<div class="span7" id="email-field">
		<i class="icon-user"></i> <input type="email" name="add-user" id="add-user"></input>
	</div>
</div>
<div class="row-fluid">
	<div class="span7" id="email-field">
		<i class="icon-user"></i> <input type="email" name="add-user" id="add-user"></input>
	</div>
</div>
<p id="parah"></p><br>
<div class="row-fluid">
	<div class="span6"></div>
	<div class="span1"><a href="javascript:addInput()"><i class="icon-plus-sign" id="more"></i></a></div>
</div>

<div class="row-fluid" id="submit">
    {% csrf_token %}
    <button type="submit" value="Download" class="btn btn-success" onclick="javascript:close()">Invite users</button>
</div>

</form>
