
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<style>
</style>

<br>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11"><b>Invite people to your project</b></div>
		<div class="span1"><a href="" onclick="javascript:close()"><i class="icon-remove"></i></a></div>
	</div>
	<div class="row-fluid">
		Anyone in your project can participate in or start discussions, assign and be assigned to-dos, and can invite other users to this project. 
	</div>
	<br>
	{% include "project/snippets/add_users.html" %}
</div>