{% extends "base/base_detail.html" %}

{% block extra_hd %}
    <title>{{ content.title }}</title>
    {{ block.super }}
{% endblock %}

{% block detail_header %}
    <h2>{{ content.title }}</h2>
    <a href="{{ content.composer.url }}" class="label label-composer">{{ content.composer.title }}</a>
    {% if content.piece %}
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <a href="{{ content.piece.url }}" class="label label-piece">{{ content.piece.title }}</a>
    {% endif %}
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <a href="{{ content.url }}" class="label label-movement">{{ content.title }}</a>
{% endblock %}

{% block detail_buttons %}
    {% include "base/download-badge.html" with id=content.uuid type="elvis_movement" button_type="button" in_cart=content.in_cart%}
{% endblock %}

{% block detail_tab_content %}

    {% include "base/detail_printout.html" %}

    {% if content.comment %}
        <div id="hidden-comment" hidden="hidden">{{ content.comment }}</div>
        <div id='rendered-comment' class="well"></div>
    {% endif %}

    {% if content.attachments %}
        <h3>Attachments
            <small>({{ content.attachments | length }})</small>
        </h3>
        {% for a in content.attachments %}
            {% include "base/list_item_compact.html"  with url=a.url title=a.title attachment=True %}
        {% endfor %}
    {% endif %}

{% endblock %}
