{% extends "base.html" %}

{% block extra_hd %}
<title>{{ content.title }}</title>
{% endblock %}

{% block wrap %}
<div class="row">
    <h2>{{ content.title }}</h2>
    <p><span class="label label-primary">Movement</span> Uploaded by {{ content.uploader.username }} on {{ content.created | date:"d F Y"}}. Last updated on {{ content.updated | date:"d F Y"}}.</p>
    <p>Comments: {% autoescape off %}{{ content.comment }}{% endautoescape %}</p>
</div>

<div class="row">
    <dl class="dl-horizontal">
        {% if content.piece %}
        <dt>Piece</dt>
        <dd><a href="{{content.piece.url}}">{{content.piece.title}}</a></dd>
        {% endif %}
        <dt>Composer</dt>
        <dd><a href="{{ content.composer.url }}">{{ content.composer.name }}</a></dd>
        {% if content.date_of_composition  == content.date_of_composition2 %} 
        <dt>Date of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}</dd> 
        {% else %}
        <dt>Dates of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}-{{ content.date_of_composition2 | date:"Y" }} </dd> 
        {% endif %}
        <dt>Collections</dt>
        {% for collection in content.collections %}
            <dd><a href="{{collection.url}}">{{ collection.title }}</a></dd>
        {% endfor %}
        <dt>Number of voices:</dt>
        <dd>{{content.number_of_voices}}</dd>
        <dt>Tags</dt>
        <dd>
            {% for tag in content.tags %}
                <a href="{{ tag.url }}" class="label label-primary .rounded" >{{tag.name}} </a> &nbsp;
            {% endfor %}
        </dd>
    </dl>

    {% if content.attachments and user.is_authenticated %}
    <h3>Available Attachments</h3>
    <table class="table table-hover">
    <!-- Attachments & Form -->
    <dd>
        <tr>
            <th>Filename and Format</th>
            <th>Source</th>
        </tr>
        {% for attachment in content.attachments %}
        <tr>
            <td>
            <a href="{{ attachment.attachment }}">{{ attachment.file_name | default:"Download" }}</a>
            </td>
            <td>
            {{ attachment.source }}
            </td>
        </tr>
        {% endfor %}

    </dd>
    </table>

    {% endif %}
    
</div>
{% endblock %}
