{% extends  "base/base_list.html"%}

{% block extra_hd %}
    <title>Movements</title>
    {{ block.super }}
{% endblock %}

{% block header %}
    Movements
{% endblock %}

{% block list_content %}
    {% for c in content.results %}
        {% include "base/list_item.html" with url=c.url title=c.title composer=c.composer.title date2=c.composition_end_date type="elvis_movement" id=c.uuid in_cart=c.in_cart%}
    {% endfor %}
    {% if not content.results %}
        <div class="text-center"><h4>There's nothing here!</h4></div>
    {% endif %}
{% endblock %}