{% extends "base.html" %}
{% block extra_hd %}

    {% load staticfiles %}
    <script type='text/javascript' src="{% static "bootstrap/plugins/bootstrap-multiselect.js" %}"></script>
    <script type='text/javascript' src="{% static "js/elvis-scripts/downloadBadge.js" %}"></script>
    <script type='text/javascript' src="{% static "js/elvis-scripts/autocomplete.js" %}"></script>
    <script type='text/javascript' src="{% static "js/elvis-scripts/cartButtonScript.js" %}"></script>
    <script type='text/javascript' src="{% static "js/elvis-scripts/search.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/plugins/bootstrap-multiselect.css" %}" type="text/css"/>

    <title>Search</title>

{% endblock %}

{% block wrap %}
    <div class="page-header">
        <h2>Search the Database</h2>
    </div>

    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#gsearch" data-toggle="tab"><h4>General Search</h4></a></li>
            <li class=""><a href="#asearch" data-toggle="tab"><h4>Advanced Search</h4></a></li>
            <li class=""><a href="#help" data-toggle="tab"><h4>Information & Help</h4></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="gsearch">
                <div class="panel-body search">
                    <form id="general-search-form" action="/search/" method="get">
                        <div class="row">
                            <label for="gsearch-input" hidden="hidden">General Search Keyword</label>

                            <div class="input-group col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                <input type="text" class="form-control input-lg" id='gsearch-input'
                                       style="text-align:center;" autocomplete="off" name='q'/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="button" id="gsearch-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="asearch">
                <div class="panel-body search">
                    <form id="advanced-search-form" action="/search/" method="get">
                        <div class="row">
                            <label for="asearch-input" hidden="hidden">Advanced Search Keyword</label>

                            <div class="input-group col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                <input type="text" id="asearch-input" class="form-control input-lg asearch-input"
                                       style="text-align:center;" name='q'/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="button" id="asearch-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <br><br>

                        <div class="row asearch-row">
                            <div class="col-md-6">
                                <label class="asearch-label" for="titlefilt">Title</label>
                                <input type="text" class="form-control asearch-input" id="titlefilt" name="titlefilt"
                                       placeholder="Agnus Dei">
                            </div>
                            <div class="col-md-6">
                                <label class="asearch-label" for="namefilt">Composer Name</label>
                                <input type="text" class="form-control asearch-input" id="namefilt" name="namefilt"
                                       placeholder="Obrecht OR Bach">

                                <div id="namefilt-suggestions"></div>
                            </div>
                        </div>

                        <div class="row asearch-row">
                            <div class="col-sm-3">
                                <label class="asearch-label" for="datefiltf">Min Date</label>
                                <input type="number" class="form-control asearch-input" name="datefiltf" id="datefiltf"
                                       max="2000"
                                       placeholder="YYYY">
                            </div>
                            <div class="col-sm-3" style="padding-left: 0px">
                                <label class="asearch-label" for="datefiltt">Max Date</label>
                                <input type="number" class="form-control asearch-input" name="datefiltt" id="datefiltt"
                                       max="2000"
                                       placeholder="YYYY">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="asearch-label" for="tagfilt">Tags</label>
                                <input type="text" class="form-control asearch-input" id="tagfilt" name="tagfilt"
                                       placeholder="Tag1 AND Tag2">

                                <div id="tagfilt-suggestions"></div>

                            </div>
                        </div>
                        <div class="row asearch-row">
                            <div class="col-sm-6">
                                <label class="asearch-label" for="voicefilt">Voice Count</label><br>
                                <input type="text" class="form-control asearch-input" id="voicefilt" name="voicefilt"
                                       placeholder="1 OR 2">
                            </div>
                        </div>
                        <br>

                        <div class="row asearch-row">
                            <div class="col-md-4">
                                <label class="asearch-label" for="typefilt">Only results of this type</label><br>
                                <select id="typefilt" multiple="multiple">
                                    <option id="elvis_composer" value="elvis_composer">Composers</option>
                                    <option id="elvis_piece" value="elvis_piece">Pieces</option>
                                    <option id="elvis_movement" value="elvis_movement">Movements</option>
                                    <option id="elvis_collection" value="elvis_collection">Collections</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="asearch-label" for="filefilt">Only results with these files</label><br>
                                <select id="filefilt" multiple="multiple">
                                    <option value=".mei"> .mei</option>
                                    <option value=".xml"> .xml</option>
                                    <option value=".midi"> .midi</option>
                                    <option value=".mid"> .mid</option>
                                    <option value=".pdf"> .pdf</option>
                                    <option value=".mxl"> .mxl</option>
                                    <option value=".krn"> .krn</option>
                                    <option value=".md"> .md</option>
                                    <option value=".nwc"> .nwc</option>
                                    <option value=".tntxt"> .tntxt</option>
                                    <option value=".capx"> .capx</option>
                                    <option value=".abc"> .abc</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="asearch-label" for="sortby">Sort results by</label><br>
                                <select id="sortby">
                                    <option value=""> Default (By Type)</option>
                                    <option value="name_sort asc"> Alphabetical &#9660; </option>
                                    <option value="name_sort desc"> Reverse Alphabetical &#9650; </option>
                                    <option value="date_general asc"> Chronological &#9660;</option>
                                    <option value="date_general desc"> Reverse Chronological &#9650; </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Help  -->
            <div class="tab-pane fade" id="help">

                <div class="panel-body">
                    <h4> Searching </h4>

                    <p> You may use the words AND, OR, NOT and surround statements in brackets on any field in order
                        to better define your search parameters</p>

                    <p> Each
                        <button class="btn btn-mini btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        recursively sends its object's attachments to your downloads. For example, clicking this in a
                        piece-typed result will send all of its attachments, and the attachments of its movements, to
                        your downloads cart. The
                        <button class="btn btn-success btn-sm">Add Results on Current Page to Downloads <span
                                class="glyphicon glyphicon-plus"></span></button>
                        will recursively send all the attachments of the current page's results to your downloads. In
                        other words, it's like clicking all of the small green buttons at once. The
                        <button class="btn btn-danger btn-sm"> Add All Query Results to Downloads <span
                                class="glyphicon glyphicon-plus"></span></button>
                        will do the same for every page of results in your query.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div id="result-page" hidden="hidden">
        <div class="row" id="result-heading" hidden="hidden">
            <div class="col-sm-9" style="padding-left:0px">
                <h3>Results</h3>
            </div>
            <div class="col-sm-3" style="padding-left:0px">
                <h3>Filter Your Search</h3>
            </div>
        </div>
        <div class="row" id="no-result-heading" hidden="hidden">
            <div class='col-sm-12 text-center'><h3>Nothing Found!</h3></div>
        </div>

        <div class="row" id="search-results">
            <div class="col-sm-9">
                <div class="row" id="search-results-list"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav id="page-links"></nav>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row panel-group" id="accordion-facets"></div>
                <div class="text-center">
                    <form id="all-patch-download-form" action="/downloads/" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="this_url" name="this_url" value=""/>
                        <input type="hidden" class="search_query" name="search_query" id="search_query" value=""/>
                        <button type="button" id="all-download"
                                onClick="return confirm('Are you sure you want to add all results in this query to your cart?\nUse with caution: this may add undesired items if you haven\'t checked all the results!')"
                                class="btn btn-success btn-sm">
                            Add All Query Results Downloads <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}