{% extends "base.html" %}
{% block extra_hd %}
    <title>Search</title>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/plugins/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/elvis-scripts/downloadBadge.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/elvis-scripts/autocomplete.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/plugins/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript">
        $(document).ready(function ($)
        {
            $('.input-group-addon').tooltip();
            $('#typefilt').multiselect({checkboxName: 'typefilt[]'});
            $('#sortby').multiselect({checkboxName: 'sortby'});
            $('#filefilt').multiselect({checkboxName: 'filefilt[]'});
            autocomplete("namefilt", "namefilt-suggestions", "composerSuggest", 'bool');
            autocomplete("tagfilt", "tagfilt-suggestions", "tagSuggest", 'bool');
            queryQString();

            //Do a search for the query string when the page back button is hit.
            $(window).bind('popstate', function ()
            {
                queryQString();
            });

            //Submit the form and unfocus the asearch button when clicked.
            $("#asearch-submit").click(function ()
            {
                $(this).blur();
                $('#advanced-search-form').submit();
            });

            $(".asearch-input").on('keydown', function (event)
            {
                if (event['keyCode'] === 13)
                {
                    $('#advanced-search-form').submit();
                }
            });

            //Process advanced search form, and do a query based on it's contents.
            $('#advanced-search-form').submit(function (event)
            {
                event.preventDefault();
                var data = $.parseParams($(this).serialize());
                for (var key in data)
                {
                    if (data[key] === "")
                    {
                        delete data[key]
                    }
                }
                doQuery(data);
            });

            //Submit the form and unfocus the gsearch button when clicked.
            $("#gsearch-submit").click(function ()
            {
                $(this).blur();
                $('#general-search-form').submit();
            });

            //Do a query or clear page based on general-search input.
            $('#general-search-form').submit(function (event)
            {
                event.preventDefault();
                var input = $("#gsearch-input").val();
                doQuery({'q': input});
            });

            //Button to add entire query to cart
            $("#all-download").click(function ()
            {
                document.getElementById("search_query").value = window.location.href;
                $.ajax(
                        {
                            type: 'post',
                            url: '/downloads/',
                            data: $("#all-patch-download-form").serialize(),
                            success: function (data)
                            {
                                var $collection_count = $('#collection-count');
                                $collection_count.fadeOut(100, function ()
                                {
                                    $collection_count.text('(' + data.count + ')');
                                });
                                $collection_count.fadeIn(100);
                            }
                        })
            });

            //Search for the query parameters in the url via ajax and fill in the input fields to match the search.
            function queryQString(fadewindow)
            {
                fadewindow = typeof fadewindow !== 'undefined' ? fadewindow : "result-page";

                var qstr = window.location.search.replace("?", "");
                var qstr_params = $.parseParams(qstr);
                var keys = Object.keys(qstr_params);
                if (qstr)
                {
                    for (var i = 0; i < keys.length; i++)
                    {
                        if (keys[i] === 'typefilt[]')
                        {
                            $('#typefilt').multiselect('select', qstr_params[keys[i]]);
                            continue;
                        }
                        if (keys[i] === 'filefilt[]')
                        {
                            $('#filefilt').multiselect('select', qstr_params[keys[i]]);
                            continue;
                        }
                        if (keys[i] === 'sortby')
                        {
                            $('#sortby').multiselect('select', qstr_params[keys[i]]);
                            continue;
                        }

                        $("[name=" + keys[i] + "]").val(qstr_params[keys[i]]);
                    }
                    doQuery(qstr_params, false, fadewindow)
                }
                else
                {
                    $("#result-page").fadeOut(300)
                }
            }

            //Push a string of the ajax search to the browser history so back and forward buttons work.
            function pushToHistory(data, results)
            {
                var query = "?";
                var keys = Object.keys(data);
                for (var i in keys)
                {
                    if (typeof data[keys[i]] !== 'string' && keys[i] !== "page")
                    {
                        for (var j = 0; j < data[keys[i]].length; j++)
                        {
                            query += keys[i] + "=" + data[keys[i]][j] + "&"
                        }
                    }
                    else
                    {
                        query += keys[i] + "=" + data[keys[i]] + "&"
                    }
                }
                query = query.slice(0, -1);
                window.history.pushState(results, "Search", "/search/" + query);
            }

            //Send an ajax request for the given data. Write the returned data to the page
            //and push the query parameters to the browser history.
            function doQuery(data, push_to_history, fadewindow)
            {
                push_to_history = typeof push_to_history !== 'undefined' ? push_to_history : true;
                fadewindow = typeof fadewindow !== 'undefined' ? fadewindow : "result-page";

                $.ajax({
                    type: "get",
                    url: "search",
                    data: data,
                    success: function (results)
                    {
                        if (push_to_history)
                        {
                            pushToHistory(data, results)
                        }

                        $("#" + fadewindow).fadeOut(300, function ()
                        {
                            drawResults(results)
                        }).fadeIn();
                    }
                })
            }

            //Write the results of a query to the page (including drawing paginators and facets)
            function drawResults(results)
            {
                var $results = $("#search-results-list");
                $results.html("");
                $("#page-links").html("");
                $("#accordion-facets").html("");

                if (results['object_list'] === undefined || results['object_list'].length === 0)
                {
                    $("#result-heading").hide();
                    $("#no-result-heading").show();
                    return false;
                }
                else
                {
                    $("#no-result-heading").hide();
                    $("#result-heading").show();
                }
                for (var key = 0; key < results['object_list'].length; key++)
                {
                    var entry = results['object_list'][key];
                    if (entry['type'] === "elvis_composer")
                    {
                        if (entry['birth_date'])
                            var birthday = entry['birth_date'].slice(0, 4);
                        else
                            birthday = "Unknown";

                        if (entry['death_date'])
                            var death = entry['death_date'].slice(0, 4);
                        else
                            death = "Unknown";

                        $results.append("<div class='row search-result-row row-eq-height'>" +
                                "<div class='col-xs-1 search-result-add' id='result-list-add" + key + "'><div id='add" + key + "'></div></div>" +
                                "<a href='/composer/" + entry['item_id'] + "' id='result-list-item" + key + "' class='search-result-item col-xs-11'>" +
                                "<span class='label label-default right-label'>Composer</span><h4>" + entry['name'] + "</h4>" +
                                "<p class='list-group-item-text'>" + birthday + "-" + death + "</p>" +
                                "</a></div>");
                        create_download_badge("elvis_composer", entry['item_id'], "add" + key);
                        continue;
                    }
                    if (entry['type'] === "elvis_collection")
                    {
                        $results.append("<div class='row search-result-row row-eq-height'>" +
                                "<div class='col-xs-1 search-result-add' id='result-list-add" + key + "'><div id='add" + key + "'></div></div>" +
                                "<a href='/collection/" + entry['item_id'] + "' id='result-list-item" + key + "' class='search-result-item col-xs-11'>" +
                                "<span class='label label-info right-label' style='margin-top:10px'>Collection</span><h4>" + entry['title'] + "</h4>" +
                                "<p class='list-group-item-text'>Created By: " + entry['creator_name'] + " on " + entry['created'].substring(0,10)  + "</p>" +
                                "</a></div>");
                        create_download_badge("elvis_collection", entry['item_id'], "add" + key);
                        continue;
                    }
                    if (entry['type'] === "elvis_movement")
                    {
                        var result = "<div class='row search-result-row row-eq-height'>" +
                                "<div class='col-xs-1 search-result-add' id='result-list-add" + key + "'><div id='add" + key + "'></div></div>" +
                                "<a href='/movement/" + entry['item_id'] + "' id='result-list-item" + key + "' class='search-result-item col-xs-11'>" +
                                "<span class='label label-primary right-label'>Movement</span><h4>" + entry['title'] + "</h4>";
                        if (entry['parent_piece_name'] !== undefined)
                        {
                            result += "<p class='list-group-item-text'> Piece: " + entry['parent_piece_name'] + "</p>";
                        }
                        result += "<p class='list-group-item-text'> Composer: " + entry['composer_name'] + "</p>" +
                                "<p class='list-group-item-text'> Date: " + entry['date_of_composition2'].slice(0, 4) + "</p>";
                        if (entry['tags'] !== undefined)
                        {
                            result += "<p class='list-group-item-text'> Tags: " + entry['tags'] + "</p>";
                        }
                        result += "</a></div>";
                        $results.append(result);
                        create_download_badge("elvis_movement", entry['item_id'], "add" + key);
                        continue;
                    }
                    if (entry['type'] === "elvis_piece")
                    {
                        var result = "<div class='row search-result-row row-eq-height'>" +
                                "<div class='col-xs-1 search-result-add' id='result-list-add" + key + "'><div id='add" + key + "'></div></div>" +
                                "<a href='/piece/" + entry['item_id'] + "' id='result-list-item" + key + "' class='search-result-item col-xs-11'>" +
                                "<span class='label label-success right-label'>Piece</span><h4> " + entry['title'] + "</h4>"+
                                "<p class='list-group-item-text'> Composer: " + entry['composer_name'] + "</p>" +
                                "<p class='list-group-item-text'> Date: " + entry['date_of_composition2'].slice(0, 4) + "</p>";
                        if (entry['tags'] !== undefined)
                        {
                            result += "<p class='list-group-item-text'> Tags: " + entry['tags'] + "</p>";
                        }
                        result += "</a></div>";
                        $results.append(result);
                        create_download_badge("elvis_piece", entry['item_id'], "add" + key);
                        continue;
                    }
                }
                drawPageLinks(results);
                drawFacets(results);
            }

            //Draw the paginators at the bottom of the page.
            function drawPageLinks(results)
            {
                var $page_links = $("#page-links");
                var links = "<ul class='pagination'>";
                if (results['object_list'] === undefined)
                {
                    $page_links.html("");
                    return false
                }
                if (results['number'] === 1)
                {
                    links += "<li class='disabled'><a href='first' onClick='return false;' id='first-button'>First</a></li>";
                    links += "<li class='disabled'><a href='previous' onClick='return false;' id='previous-button'>Previous</a></li>";
                }
                else
                {
                    links += "<li><a href='first' onClick='return false;' id='first-button'>First</a></li>";
                    links += "<li><a href='previous' onClick='return false;' id='previous-button'>Previous</a></li>";
                }
                links += "<li class='disabled'><a href='#' onClick='return false;'>Page " + results['number'] + " of " + results['paginator']['total_pages'] + "</a></li>";
                if (results['number'] === results['paginator']['total_pages'])
                {
                    links += "<li class='disabled'><a href='next' onClick='return false;' id='next-button'>Next</a></li>";
                    links += "<li class='disabled'><a href='last' onClick='return false;' id='  last-button'> Last </a></li>";
                }
                else
                {
                    links += "<li><a href='next' onClick='return false;' id='next-button'>Next</a></li>";
                    links += "<li><a href='last' onClick='return false;' id='last-button'> Last </a></li>";
                }
                links += "</ul>";
                $page_links.html(links);

                $("#first-button").click(function (event)
                {
                    if (!$(this.parentElement).hasClass("disabled"))
                    {
                        var qstr_params = $.parseParams(window.location.search.replace("?", ""));
                        delete qstr_params['page'];
                        doQuery(qstr_params, true)
                    }
                });
                $("#previous-button").click(function (event)
                {
                    if (!$(this.parentElement).hasClass("disabled"))
                    {
                        var qstr_params = $.parseParams(window.location.search.replace("?", ""));
                        qstr_params['page'] = results['number'] - 1;
                        doQuery(qstr_params, true);
                    }
                });
                $("#next-button").click(function (event)
                {
                    if (!$(this.parentElement).hasClass("disabled"))
                    {
                        var qstr_params = $.parseParams(window.location.search.replace("?", ""));
                        qstr_params['page'] = results['number'] + 1;
                        doQuery(qstr_params, true);
                    }
                });
                $("#last-button").click(function (event)
                {
                    if (!$(this.parentElement).hasClass("disabled"))
                    {
                        var qstr_params = $.parseParams(window.location.search.replace("?", ""));
                        qstr_params['page'] = results['paginator']['total_pages'];
                        doQuery(qstr_params, true);
                    }
                });
            }

            //Draw the facets.
            function drawFacets(results)
            {
                var $facet_DOM = $("#accordion-facets");
                var keys = Object.keys(results['facet_names']);
                var facets = results['facets']['facet_fields'];
                var facet_containers = "";
                for (var i in keys)
                {
                    if (Object.keys(facets[keys[i]]).length === 0)
                        continue;

                    var name = keys[i];
                    var facet_head = "<div class='panel panel-default'>" +
                            "<div class='panel-heading facets'>" +
                            "<h3 class='panel-title facets' data-toggle='collapse' data-target='#collapse-" + name + "'>" +
                            results['facet_names'][keys[i]] +
                            "</h3>" +
                            "</div>";
                    var facet_body = "<div id='collapse-" + name + "' class='panel-collapse collapse facets in'>" +
                            "<div class='panel-body facets' id='facet-panel-" + name + "'>";
                    var facet_keys = facets[keys[i]];
                    for (var j in facet_keys)
                    {
                        var facet_list = facets[keys[i]];

                        if (keys[i] === "type")
                            var facet_name = j.slice(6)[0].toUpperCase() + j.slice(7);
                        else
                            var facet_name = j;
                        facet_body += "<div class='facet-list'>" +
                                "<div id='facet-"+keys[i]+"-" + encodeName(j) + "' class='facet-wrapper'>" +
                                "<label class='facet-label' for='facet-link-" + encodeName(j) + "-" + keys[i] + "'>" +
                                "<input type='checkbox' class='facet-link' style='margin: 4px 4px 0' data-facet-name='" + keys[i] +
                                "' data-facet-value='" + encodeName(j) + "' id='facet-link-" + encodeName(j) + "-" + keys[i] + "'>" +
                                facet_name + "  (" + facet_list[j] + ")" +
                                "</label>" +
                                "</div>" +
                                "</div>";
                    }
                    facet_body += "</div></div></div>";
                    facet_containers += facet_head + facet_body;
                }
                $facet_DOM.html(facet_containers);

                var qstr = window.location.search.replace("?", "");
                var qstr_params = $.parseParams(qstr);
                var keys = Object.keys(qstr_params);

                for (var j = 0; j < keys.length; j++)
                {
                    if (typeof qstr_params[keys[j]] === 'object')
                    {
                        $.each(qstr_params[keys[j]], function (val)
                        {
                            $("input[data-facet-name='" + keys[j] + "'][id='facet-link-" + encodeName(qstr_params[keys[j]][val]) + "-" + keys[j] + "']").attr('checked', true);
                        });
                    }
                    else
                    {
                        $("input[data-facet-name='" + keys[j] + "'][id='facet-link-" + encodeName(qstr_params[keys[j]]) + "-" + keys[j] + "']").attr('checked', true);
                    }
                }


                $(".facet-link").on('click', function (event)
                {

                    var facetName = $(this).data('facet-name');
                    var facetValue = $(this).data('facet-value');

                    if ($(this).is(':checked'))
                    {
                        qstr = window.location.search.replace("?", "");
                        qstr += "&" + (facetName) + "=" + (facetValue);
                        window.history.pushState(results, "Search", "/search/?" + qstr);
                        queryQString("search-results-list");
                    }
                    else
                    {
                        qstr = window.location.search.replace("?", "");
                        qstr = qstr.replace("&" + facetName + "=" + facetValue, "");
                        window.history.pushState(results, "Search", "/search/?" + qstr);
                        queryQString("search-results-list");
                    }
                });
            }

            // A slightly more robust version of the encodeURIComponent function.
            function encodeName(name)
            {
                var result = encodeURI(name);
                result = result.replace("'", "%27");
                return result
            }
        });
    </script>

{% endblock %}

{% block wrap %}
    <div class="page-header">
        <h2>Search the Database</h2>
    </div>

    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#gsearch" data-toggle="tab"><h4>General Search</h4></a></li>
            <li class=""><a href="#asearch" data-toggle="tab"><h4>Advanced Search</h4></a></li>
            <li class=""><a href="#help" data-toggle="tab"><h4>Information & Help</h4></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="gsearch">
                <div class="panel-body search">
                    <form id="general-search-form" action="/search/" method="get">
                        <div class="row">
                            <label for="gsearch-input" hidden="hidden">General Search Keyword</label>

                            <div class="input-group col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                <input type="text" class="form-control input-lg" id='gsearch-input'
                                       style="text-align:center;" autocomplete="off" name='q'/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="button" id="gsearch-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="asearch">
                <div class="panel-body search">
                    <form id="advanced-search-form" action="/search/" method="get">
                        <div class="row">
                            <label for="asearch-input" hidden="hidden">Advanced Search Keyword</label>

                            <div class="input-group col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                <input type="text" id="asearch-input" class="form-control input-lg asearch-input"
                                       style="text-align:center;" name='q'/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" type="button" id="asearch-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <br><br>

                        <div class="row asearch-row">
                            <div class="col-md-6">
                                <label class="asearch-label" for="titlefilt">Title</label>
                                <input type="text" class="form-control asearch-input" id="titlefilt" name="titlefilt"
                                       placeholder="Agnus Dei">
                            </div>
                            <div class="col-md-6">
                                <label class="asearch-label" for="namefilt">Composer Name</label>
                                <input type="text" class="form-control asearch-input" id="namefilt" name="namefilt"
                                       placeholder="Obrecht OR Bach">

                                <div id="namefilt-suggestions"></div>
                            </div>
                        </div>

                        <div class="row asearch-row">
                            <div class="col-sm-3">
                                <label class="asearch-label" for="datefiltf">Min Date</label>
                                <input type="number" class="form-control asearch-input" name="datefiltf" id="datefiltf"
                                       max="2000"
                                       placeholder="YYYY"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div class="col-sm-3" style="padding-left: 0px">
                                <label class="asearch-label" for="datefiltt">Max Date</label>
                                <input type="number" class="form-control asearch-input" name="datefiltt" id="datefiltt"
                                       max="2000"
                                       placeholder="YYYY"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="asearch-label" for="tagfilt">Tags</label>
                                <input type="text" class="form-control asearch-input" id="tagfilt" name="tagfilt"
                                       placeholder="Tag1 AND Tag2">

                                <div id="tagfilt-suggestions"></div>

                            </div>
                        </div>
                        <div class="row asearch-row">
                            <div class="col-sm-6">
                                <label class="asearch-label" for="voicefilt">Voice Count</label><br>
                                <input type="text" class="form-control asearch-input" id="voicefilt" name="voicefilt"
                                       placeholder="1 OR 2">
                            </div>
                        </div>
                        <br>

                        <div class="row asearch-row">
                            <div class="col-md-4">
                                <label class="asearch-label" for="typefilt">Only results of this type</label><br>
                                <select id="typefilt" multiple="multiple">
                                    <option id="elvis_composer" value="elvis_composer">Composers</option>
                                    <option id="elvis_piece" value="elvis_piece">Pieces</option>
                                    <option id="elvis_movement" value="elvis_movement">Movements</option>
                                    <option id="elvis_collection" value="elvis_collection">Collections</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="asearch-label" for="filefilt">Only results with these files</label><br>
                                <select id="filefilt" multiple="multiple">
                                    <option value=".mei"> .mei</option>
                                    <option value=".xml"> .xml</option>
                                    <option value=".midi"> .midi</option>
                                    <option value=".mid"> .mid</option>
                                    <option value=".pdf"> .pdf</option>
                                    <option value=".mxl"> .mxl</option>
                                    <option value=".krn"> .krn</option>
                                    <option value=".md"> .md</option>
                                    <option value=".nwc"> .nwc</option>
                                    <option value=".tntxt"> .tntxt</option>
                                    <option value=".capx"> .capx</option>
                                    <option value=".abc"> .abc</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="asearch-label" for="sortby">Sort results by</label><br>
                                <select id="sortby">
                                    <option value=""> Default (By Type)</option>
                                    <option value="name_sort asc"> Alphabetical &#9660; </option>
                                    <option value="name_sort desc"> Reverse Alphabetical &#9650; </option>
                                    <option value="date_general asc"> Chronological &#9660;</option>
                                    <option value="date_general desc"> Reverse Chronological &#9650; </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Help  -->
            <div class="tab-pane fade" id="help">

                <div class="panel-body">
                    <h4> Searching </h4>

                    <p> You may use the words AND, OR, NOT and surround statements in brackets on any field in order
                        to better define your search parameters</p>

                    <p> Each
                        <button class="btn btn-mini btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        recursively sends its object's attachments to your downloads. For example, clicking this in a
                        piece-typed result will send all of its attachments, and the attachments of its movements, to
                        your downloads cart. The
                        <button class="btn btn-success btn-sm">Add Results on Current Page to Downloads <span
                                class="glyphicon glyphicon-plus"></span></button>
                        will recursively send all the attachments of the current page's results to your downloads. In
                        other words, it's like clicking all of the small green buttons at once. The
                        <button class="btn btn-danger btn-sm"> Add All Query Results to Downloads <span
                                class="glyphicon glyphicon-plus"></span></button>
                        will do the same for every page of results in your query.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div id="result-page" hidden="hidden">
        <div class="row" id="result-heading" hidden="hidden">
            <div class="col-sm-9" style="padding-left:0px">
                <h3>Results</h3>
            </div>
            <div class="col-sm-3" style="padding-left:0px">
                <h3>Filter Your Search</h3>
            </div>
        </div>
        <div class="row" id="no-result-heading" hidden="hidden">
            <div class='col-sm-12 text-center'><h3>Nothing Found!</h3></div>
        </div>

        <div class="row" id="search-results">
            <div class="col-sm-9">
                <div class="row" id="search-results-list"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav id="page-links"></nav>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row panel-group" id="accordion-facets"></div>
                <div class="text-center">
                    <form id="all-patch-download-form" action="/downloads/" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="this_url" name="this_url" value=""/>
                        <input type="hidden" class="search_query" name="search_query" id="search_query" value=""/>
                        <button type="button" id="all-download"
                                onClick="return confirm('Are you sure you want to add all results in this query to your cart?\nUse with caution: this may add undesired items if you haven\'t checked all the results!')"
                                class="btn btn-success btn-sm">
                            Add All Query Results Downloads <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}