
<div class="list-row-compact row-eq-height">
    <div class='col-xs-1 list-add'></div>
    <a href='{{ url }}' class='list-item-compact col-xs-11'>
        {% if p_count or m_count %}
            <span class='badge alert-info right-badge' style='margin-top:10px'>
            {% if p_count and m_count %}
                {{ p_count }} Piece{{ p_count|pluralize }}, {{ m_count }} Movements
            {% else %}
                {% if p_count %} {{ p_count }} Piece{{ p_count|pluralize }} {% endif %}
                {% if m_count %} {{ m_count }} Movement{{ m_count|pluralize }} {% endif %}
            {% endif %}
        </span>
        {% endif %}

        <h4>{{ title }}</h4>
    </a>
</div>