{% extends  "base/base_list.html"%}

{% block extra_hd %}
    <title>Composers</title>
    {{ block.super }}
{% endblock %}

{% block header %}
    Composers
{% endblock %}

{% block list_content %}
    {% for c in content.results %}
        {% include "base/base_list_item.html" with url=c.url title=c.name date1=c.birth_date date2=c.death_date m_count=c.movement_count p_count=c.piece_count %}
    {% endfor %}
    {% if not content.results %}
        <div class="text-center"><h4>There's nothing here!</h4></div>
    {% endif %}
{% endblock %}