{% extends "base.html" %}

{% block extra_hd %}
<title>{{ content.title }}</title>
{% endblock %}

{% block wrap %}
<div class="row">
<div class="page-header">
    <h2>{{ content.name }} <small>({{ content.birth_date }}&ndash;{{ content.death_date }})</small>
        <span class="pull-right">
            {% include "includes/download-button-inc.html" with download_type="elvis_composer" download_item_id=content.item_id title="Add to Downloads" in_cart=content.in_cart%}
        </span>
    </h2>
</div>
</div>



{% if content.pieces %}
<h3>Pieces ({{ content.pieces | length }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Movements</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for piece in content.pieces %}
            <tr>
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_piece" download_item_id=piece.item_id in_cart=piece.in_cart %}</td>
                <td width="70%"><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                <td width="10%"><span class="label label-info">{% if piece.movement_count %}{{ piece.movement_count }} included {% endif %}</span></td>
                <td width="10%">{{ piece.date_of_composition}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if content.free_movements %}
<h3>Movements ({{ content.free_movements_count }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for mov in content.free_movements %}
            <tr >
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=mov.item_id in_cart=mov.in_cart%}</td>
                <td width="70%"><a href="{{ mov.url }}">{{ mov.title }}</a></td>
                <td width="10%">{{ mov.date_of_composition }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}
