{% extends "base.html" %}

{% block extra_hd %}
<title>{{ content.title }}</title>
{% endblock %}

{% block wrap %}
<div class="row">
    <div class="col-lg-10">
        <h2>{{ content.name }} <small>({{ content.birth_date | date:"Y" }}&ndash;{{ content.death_date | date:"Y" }})</small></h2>
    </div>
</div>
<hr>


    {% if content.pieces %}
<h3>Pieces ({{ content.pieces | length }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Movements</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for piece in content.pieces %}
            <tr>
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_piece" download_item_id=piece.item_id title="Add to Downloads" %}</td>
                <td width="70%"><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                <td width="10%"><span class="label label-info">{% if piece.movement_count %}{{ piece.movement_count }} included {% endif %}</span></td>
                <td width="10%">{{ piece.date_of_composition | date:"Y"}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if content.free_movements %}
<h3>Movements ({{ content.free_movements_count }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for mov in content.free_movements %}
            <tr >
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=piece.item_id title="Add to Downloads" %}</td>
                <td width="70%"><a href="{{ mov.url }}">{{ mov.title }}</a></td>
                <td width="10%">{{ mov.date_of_composition | date:"Y"}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}
