{% extends "base.html" %}
{

}% block extra_hd %}
<title>{{ content.title }}</title>
{% endblock %}

{% block wrap %}

<div class="row">
    <div class="page-header"><h2>{{ content.name }}</h2></div>
    {% if content.description %} <p> {{content.description}} </p> {% endif %}
</div> 

<div class="row">
    <h3>Pieces ({{ content.pieces | length }})</h3>
</div> 

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th width="67%">Title</th>
                <th width="23%">Composer</th>
                <th width="10%">Date</th>
            </tr>
        </thead>
    </table>
    <div class="detail-table-wrapper tags">
    <table class="table table-condensed detail-table">
        <tbody>
            {% for piece in content.pieces %}
                <tr >
                    <td width="68%">{% include "includes/download-badge-inc.html" with download_type="elvis_piece" download_item_id=piece.item_id title="Add to Downloads" %}<a href="{{ piece.url }}">{{ piece.title }}</a></td>
                    <td width="23%"><a href="{{ piece.composer.url }}">{{ piece.composer.name }}</a></td>
                    <td width="9%">{{ piece.composition_start_date | date:"Y"}}</td>
                </tr>
                {% if piece.movements %}
                <tr>
                    <td width="100%" colspan="2" style="border: 0;">
                    {% include "includes/movement-dropdown.html" with piece=piece %}
                    </td>
                </tr>
                {% endif %} 
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

<div class="row">
    <h3>Movements ({{ content.movements | length }})</h3> 
</div> 

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th width="33%">Title</th>
                <th width="34%">Parent Piece</th>
                <th width="23%">Composer</th>
                <th width="10%">Date</th>
                
            </tr>
        </thead>
    </table>
    <div class="detail-table-wrapper tags">
    <table class="table table-condensed table-hover detail-table">
        <tbody>
            {% for movement in content.movements %}
                {% if not movement.piece.title in content.pieces %} 
                <tr>
                    <td width="33.5%">{% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=movement.item_id title="Add to Downloads" %} <a href="{{ movement.url }}">{{ movement.title }}</a></td>
                    <td width="34.5%"><a href="{{ movement.piece.url }}"> {{movement.piece.title}} </a></td>
                    <td width="23%"><a href="{{ movement.composer.url }}">{{ movement.composer.name }}</a></td>
                    <td width="9%">{{ movement.composition_start_date | date:"Y"}}</td>
                </tr>
                {% endif %} 
            {% endfor %}
        </tbody>
    </table>
    </div>  
</div>
{% endblock %}