{% extends  "base/base_list.html"%}

{% block extra_hd %}
    <title>Collections</title>
    {{ block.super }}
{% endblock %}

{% block header %}
    Collections
{% endblock %}

{% block list_content %}
    {% for c in content.results %}
        {% include "base/list_item.html" with url=c.url title=c.title p_count=c.piece_count m_count=c.movement_count creator=c.creator %}
    {% endfor %}
    {% if not content.results %}
        <div class="text-center"><h4>There's nothing here!</h4></div>
    {% endif %}
{% endblock %}