{% extends "base.html" %}

{% block extra_hd %}
<title>{{ content.title }}</title>
<script>
    $(document).ready(function($)
    {
        $("#private-button").click(function(event){
            $.ajax({
                type: "post",
                url: "/collections/",
                data: {'make-private': {{ content.item_id }} },
                success: function(data)
                {
                    console.log("Made {{ content.title }} private.");
                    location.reload();
                }
            })
        });

        $("#public-button").click(function(event){
            $.ajax({
                type: "post",
                url: "/collections/",
                data: {'make-public': {{ content.item_id }} },
                success: function(data)
                {
                    console.log("Made {{ content.title }} public.");
                    location.reload();
                }
            })
        });

        $("#delete-button").click(function(event){
            $.ajax({
                type: "post",
                url: "/collections/",
                data: {'delete': {{ content.item_id }} },
                success: function(data)
                {
                    console.log("Deleted {{ content.title }}");
                    document.location.href = '/collections/';
                }
            })
        });
    });
</script>
{% endblock %}

{% block wrap %}
<div class="row">
    <div class="page-header"><h2>{{ content.title }} <small>{{ content.pieces | length }} Pieces, {{ content.movements | length }} Movements</small>
    {% if user.username == content.creator.username %}
                        <span class="pull-right">
                        {% if content.public %}
                        <button type="button" class="btn btn-default" id="private-button">Make Private</button>
                        {% else %}
                        <button type="button" class="btn btn-default" id="public-button">Make Public</button>
                        {% endif %}
                        <button type="button" class="btn btn-warning" id="delete-button">Delete</button>
                        </span>
    {% endif %}</h2> </div>
    <p>Created by {{ content.creator.full_name }} on {{ content.created | date:"d F Y, f a" }}<br> Last updated {{ content.updated | date:"d F Y, f a" }}</p>
    <p> {% autoescape off %}{{ content.comment }}{% endautoescape %} </p>
</div>


{% if content.pieces %}
<h3>Pieces ({{ content.pieces | length }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Movements</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for piece in content.pieces %}
            <tr>
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_piece" download_item_id=piece.item_id title="Add to Downloads" %}</td>
                <td width="70%"><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                <td width="10%"><span class="label label-info">{% if piece.movement_count %}{{ piece.movement_count }} included {% endif %}</span></td>
                <td width="10%">{{ piece.date_of_composition | date:"Y"}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if content.free_movements %}
<h3>Movements ({{ content.free_movements_count }})</h3>
<table class="table">
    <thead>
        <tr>
            <th width="5%">Add</th>
            <th width="70%">Title</th>
            <th width="10%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for mov in content.free_movements %}
            <tr >
                <td width="5%">{% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=piece.item_id title="Add to Downloads" %}</td>
                <td width="70%"><a href="{{ mov.url }}">{{ mov.title }}</a></td>
                <td width="10%">{{ mov.date_of_composition | date:"Y"}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}