{% extends "base/base_detail.html" %}

{% block extra_hd %}
    {{ block.super }}
    {% load staticfiles %}
    {% load compress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% static "js/template-scripts/collection-detail.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block detail_header %}
    <h1>{{ content.title }} <small>Created by {{ content.creator }}</small></h1>
{% endblock %}

{% block detail_buttons %}
    {% include "base/download-badge.html" with id=content.uuid type="elvis_collection" button_type="button" in_cart=content.in_cart%}
{% endblock %}

{% block detail_tab_content %}
    {% if content.comment %}
        <div id="hidden-comment" hidden="hidden">{{ content.comment }}</div>
        <div id='rendered-comment' class="well"></div>
    {% endif %}

    {% if content.curators %}
        <h3>Curators ({{ content.curators | length }})</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for curator in content.curators %}
                <tr>
                    <td>{{ curator.username }}</td>
                    <td>{{ curator.last_name }}, {{ curator.first_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if content.pieces %}
        <h3>Pieces ({{ content.pieces | length }})</h3>
        <table class="table" id="piece-table">
            <thead>
            <tr>
                <th width="5%">Add</th>
                <th width="30%">Title</th>
                <th width="15%">Composer</th>
                <th width="15%">Movements</th>
                <th width="10%">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for piece in content.pieces %}
                <tr>
                    <td>{% include "base/download-badge.html" with type="elvis_piece" id=piece.uuid in_cart=piece.in_cart %}</td>
                    <td><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                    <td><a href="{{ piece.composer.url }}">{{ piece.composer.shortened_title}}</a></td>
                    <td>{% if piece.movement_count %}<span class="label label-movement">{{ piece.movement_count }} movement{{  piece.movement_count | pluralize }} </span></a>{% else %}<span class="label label-default">No movements</span>{% endif %}</td>
                    <td width="10%">{{ piece.composition_end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if content.movements %}
        <h3>Movements ({{ content.movement_count }})</h3>
        <table class="table" id="mov-table">
            <colgroup>
                <col class="text-center" style="width: 5%;">
                <col hidden="hidden">
                <col style="width: 30%;">
                <col style="width: 15%;">
                <col style="width: 15%;">
                <col style="width: 10%;">
            </colgroup>
            <thead >
            <tr>
                <th>Add</th>
                <th>Title</th>
                <th>Composer</th>
                <th>Piece</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for mov in content.movements %}
                <tr>
                    <td>{% include "base/download-badge.html" with type="elvis_movement" id=mov.uuid in_cart=mov.in_cart %}</td>
                    <td><a href="{{ mov.url }}">{{ mov.title }}</a> </td>
                    <td><a href="{{ mov.composer.url }}">{{ mov.composer.shortened_title}}</a></td>
                    <td>{% if mov.piece %}<a href="{{ mov.piece.url }}"><span class="label label-piece">{{ mov.piece.title }}</span></a>{% else %}<span class="label label-default">No piece</span>{% endif %}</td>
                    <td>{{ mov.composition_end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block options_tab_content %}
    <h3>Modify Collection Metadata</h3>
    <button type="button" class="btn btn-default"
            id="delete-button">Delete
    </button>
    <a href="{{ content.url }}update/" class="btn btn-default">Update</a>
    <hr />
    {% if content.pieces %}
    <h3>Remove Collection Pieces</h3>
    <form>
    {% for piece in content.pieces %}
        <p>
            <label>
                <input name="remove-piece" value="{{ piece.id }}" type="checkbox"> {{ piece.title }} - {{ piece.composer.shortened_title }}
            </label>
        </p>
    {% endfor %}
    <button type="submit" id="remove-member-button" class="btn btn-danger">Remove</button>
    </form>
    {% endif %}
{% endblock %}