{% extends "base.html" %}


<!-- The javascript function for the typeahead functionality on the fields. -->

{% block extra_hd %}
    {% load staticfiles %}
    {% load compress %}
    {% compress js %}
        <script type='text/javascript' src="{% static "bootstrap/plugins/bootstrap-filestyle.min.js" %}"></script>
        <script type='text/javascript' src="{% static "bootstrap/plugins/bootstrap-select.min.js" %}"></script>
        <script type='text/javascript' src="{% static "bootstrap/plugins/markdown.min.js" %}"></script>
        <script type='text/javascript' src="{% static "bootstrap/plugins/bootstrap-markdown.js" %}"></script>
        <script type='text/javascript' src="{% static "js/elvis-scripts/autocomplete.js" %}"></script>
    {% endcompress %}
    {% compress css %}
        <link href="{% static "bootstrap/plugins/bootstrap-select.css" %}" rel="stylesheet" media="screen"/>
        <link href="{% static "bootstrap/plugins/bootstrap-markdown.min.css" %}" rel="stylesheet" media="screen"/>
    {% endcompress %}

    <title>Upload a Piece</title>

    <style>

    </style>

{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h2>Create Collection</h2>
    </div>

    {% include "base/collection-create-form.html" %}

{% endblock %}

