{% extends "base.html" %}


{% block extra_hd %}
    {% load staticfiles %}
    <script type='text/javascript' src="{% static "js/jquery.tablesorter.js" %}"></script>
    <
    title>Download Cart</title>

    <!-- Okay this plugin is the boss -->
    <script type="text/javascript">
        $(document).ready(function ()
        {

            $("#collection-table").tablesorter({
                headers: {0: {sorter: false}, 1: {sorter: false}},
                textExtraction: "complex",
                sortList: [[3,0],[5,0]]
            });


            $(".remove-row").click(function (event)
            {
                var id = $(event.target).parents('tr').children()[1].textContent;
                var type = $(event.target).parents('tr').children()[5].textContent.split(/\n/)[0];
                $(event.target).parents('tr').remove();
                $.ajax({
                    type: "post",
                    url: "/downloads/",
                    data: {'remove': true, 'id': id, 'type': type},
                    success: function (data)
                    {
                        var $collection_count = $("#collection-count");
                        $collection_count.fadeOut(100, function ()
                        {
                            $collection_count.text("(" + data.count + ")");
                        });
                        $collection_count.fadeIn(100);
                    }
                })
            });

            $("#open-clear-modal").click(function()
            {
                $("#clear-modal").modal("show");
            });

            $("#clear-collection").click(function ()
            {
                $("#collection-table").find("tbody").empty();
                $.ajax({
                    type: "post",
                    url: "/downloads/",
                    data: {'clear-collection': true},
                    success: function (data)
                    {
                        var $collection_count = $("#collection-count");
                        $collection_count.fadeOut(100, function ()
                        {
                            $collection_count.text("(0)");
                        });
                        $collection_count.fadeIn(100);
                    }
                })
            });

            $("#save-collection").click(function ()
            {
                $('#save_modal').modal('show');
            });

        });
    </script>



{% endblock %}

{% block wrap %}
    <!-- Save Modal -->
    <div class="modal fade" id="save_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <label id="myModalLabel">Are you sure you want to clear collection?</label>
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/collections/" method="post" id="new-collection-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Save Collection</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">Collection Title</span>
                            <input type="text" id="title" name="title" autocomplete="off" class="form-control"
                                   placeholder="My Great Collection">
                        </div>
                        <div class="btn-group btn-group-justified form-inline radio" id="permission"
                             data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="permission" value="Public"> Public
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="permission" value="Private"> Private
                            </label>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left:18px; padding-right: 18px">
                        Comments:
                        <textarea class="form-control" rows="7" name="comment" id="comment"
                                  style="resize:vertical"></textarea>
                    </div>
                    <div class="modal-footer">
                        <div class="text-right">
                            <button type='submit' id='collection-submit' class='btn btn-success'>Submit<span
                                    class='glyphicon glyphicon-chevron-right'></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="clear-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Confirm clear</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to clear your current collection?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No </button>
                    <button id="clear-collection" type="button" class="btn btn-danger" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Yes
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="page-header">
        <h2>Your Cart
            <span class="pull-right">
                <button id="open-clear-modal" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Clear Cart
                </button>
                <button id="save-collection" name="save-collection" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save as Collection
                </button>
                <a href="/downloads/" id="download-collection" name="download-collection" class="btn btn-info">
                    <span class="glyphicon glyphicon-download"></span> Select Files to Download
                </a>
            </span>
        </h2>
    </div>

    {% if content.collection_pieces or content.collection_movements %}
        <span class="help-block">These are the pieces and movements in your cart. You may save this cart as a collection,
        modify it, or proceed to the download screen.</span>
        <table class="table" id="collection-table">
            <colgroup>
                <col class="text-center" style="width: 10%;">
                <col hidden="hidden">
                <col style="width: 30%;">
                <col style="width: 20%;">
                <col style="width: 16%;">
                <col style="width: 20%;">
            </colgroup>
            <thead id="table-head">
            <tr>
                <th class="text-center">Remove</th>
                <th hidden="hidden">ID</th>
                <th>Title</th>
                <th>Composer</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for piece in content.collection_pieces %}
                <tr>
                    <td class="text-center">
                        <div style="min-height:36px">
                        <button type="button" class="btn btn-sm remove-row" name="remove-item"><span
                                class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </td>
                    <td style="display: none;">{{ piece.id }}</td>
                    <td><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                    <td><a href="{{ piece.composer.url }}">{{ piece.composer.name }}</a></td>
                    <td>{% if piece.date_of_composition  == piece.date_of_composition2 %}
                        {{ piece.date_of_composition2 }}{% else %}{{ piece.date_of_composition }}-
                        {{ piece.date_of_composition2 }}{% endif %}</td>
                    <td><span class="label label-success">Piece</span>{% if piece.movements %}<br>
                        <span class="label label-default">+ {{ piece.movements | length }} movement{{ piece.movements|length|pluralize }}</span> {% endif %}</td>

                </tr>
            {% endfor %}
            {% for movement in content.collection_movements %}
                <tr>
                    <td class="text-center">
                        <div style="min-height:36px">
                        <button type="button" class="btn btn-sm remove-row" name="remove-item"><span
                                class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </td>
                    <td style="display: none;">{{ movement.id }}</td>
                    <td><a href="{{ movement.url }}">{{ movement.title }}</a></td>
                    <td><a href="{{ movement.composer.url }}">{{ movement.composer.name }}</a></td>
                    <td>{% if movement.date_of_composition  == movement.date_of_composition2 %}
                        {{ movement.date_of_composition }}{% else %}{{ movement.date_of_composition }}
                        -{{ movement.date_of_composition2  }}{% endif %}</td>
                    <td><span class="label label-primary">Movement</span><br><span class="label label-default">{{ movement.piece.title }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="text-center">Nothing added yet to your collection!</div>
    {% endif %}
{% endblock %}