/* Body css */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* have to figure out a way of doing this without !important */
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
.btn-mini {
    vertical-align: 11%;
    padding: 1px 6px;
    font-size: 11px;
    line-height: 13px;
}
#footer-hr {
    color:black;
}
.label, .rounded {
    border-radius:4px;
}
/* Misc Templates */
#home-jumbotron{
    padding-top: 40px;
    padding-bottom: 40px;
}
#home-title{
    padding-left: 0px;
    color: black;
}
.account-form-group{
    width: 100%;
}
.account-input-group {
    padding: 7px 0px 7px 0px;
}
#account-submit{
    vertical-align: bottom;
}
#password-recovery{
    line-height: 0px;
    font-size: 16px;
}
/* Detail & List templates */
.detail-table-wrapper{
    max-height: 600px;
    width: 100%; 
    margin: 0; 
    overflow-y: scroll;
    padding-bottom: 0px;
}
.detail-table-wrapper.collection {
    max-height: 400px; 
}
.detail-table-wrapper.composer {
    max-height: 600px;
}
.detail-table-wrapper.tags {
    max-height: 400px;
}
.detail-table-wrapper.download {
    max-height: 520px;
}
.detail-table {
    margin: 0; 
    padding: 0;
}
.img-wrapper{
    position: relative; 
    overflow: hidden; 
    padding-bottom: 100%;
}
.recursive-patch-download-form {
    display: inline;
}
.movement-dropdown-button {
    text-align:left;
    width:100%; 
    border-width: 1px; 
    border-color: white; 
    background-color: white;
}
.movement-dropdown-collapse {
    width:95%;
}
/* Search template */
.panel-title:hover {
    cursor: pointer;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0; 
}
.input-group-addon.lg {
    min-width: 200px;
    text-align: left;
}
.multiselect-button, .multiselect-button:hover, .multiselect-button:active, .multiselect-button:focus {
    height: 54px; 
    line-height: 1.33; 
    font-size: 16px; 
    border-radius: 0px;
    border-color: #C9C9C9;
    background-color: white;
    background-image: none;
    color: black;
}
.search-form-group{
    width: 100%;
}
.search-input-group {
    padding: 7px 0px 7px 0px;
}
.search-result-item {
    min-height: 100px;
}
.form-control.gsearch {
    text-align: center; 
    height: 70px;
}
.panel-body.gsearch {
    margin-bottom: 15px;
    margin-top: 25px;
}
#gsearch-submit {
    height: 70px; 
    width: 160px;
}
#asearch-submit {
    height: 70px; 
    width: 150px; 
    font-size: 24px;
    vertical-align: bottom;
}
#asearch-reset{
    line-height: 0px;
    font-size: 18px;
}
/* Result template */
.panel-body.facets {
   overflow-y: scroll;
   max-height: 160px;
}
.panel-heading.facets {
    height: 50%;
}
.panel-title.facets {
    font-size: 100%
}
#facet-search {
    border-radius:4px;
    text-align: left; 
    height: 30px;
    width: 65%;
}
#facet-collapse-init{
    width: 30%;
}
.facet-wrapper{
    white-space: nowrap;
}
.facet-list{
    list-style: none;
}
.results-intermediate-buttons{
    padding-bottom:10px;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
