<!-- <a href="" onclick="document.getElementById('recursive-patch-download-form').submit()" class="download-badge" data-type="{{ download_type }}" data-item-id="{{ download_item_id }}">
	<span class="label label-success">
		<span class="glyphicon glyphicon-plus"></span> {{ title | default_if_none:"Add to downloads"}}
	</span>
</a> -->

<form id="recursive-patch-download-form" action="/rpatchdownloads/" method="post">
        {% csrf_token %}


   	<input type="hidden" name="item_type" id="item_type" value="{{ download_type }}" />
   	<input type="hidden" name="item_id" id="item_id" value="{{ download_item_id }}" />
   	<input type="hidden" name="this_url" id="this_url" value="{{ current_url }}" />

   	<!-- <script type="text/javascript">
       document.getElementById('this_url').value = window.location.pathname;
    </script> -->

    <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> </button>


</form>