<form id="recursive-patch-download-form" action="/rpatchdownloads/" method="post" style="display: inline;">
        {% csrf_token %}
    <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"> </span> </button>

   	<input type="hidden" name="item_type"  value="{{ download_type }}" />
   	<input type="hidden" name="item_id"  value="{{ download_item_id }}" />
   	<input type="hidden" class="this_url" name="this_url"  value="" />

   	<script type="text/javascript">
       	var inputs = document.getElementsByClassName('this_url');

       	for(i = 0; i < inputs.length; i++){
       		inputs[i].value = window.location.href;
       	}

    </script>

</form>