{% if user.is_authenticated %}
<form class="recursive-patch-download-form" id="recursive-patch-download-form" action="/rpatchdownloads/" method="post" style="display: inline;">
        {% csrf_token %}
    <button type="submit" class="btn btn-mini btn-success" data-container="body" data-toggle="tooltip" data-placement="left" title="Add all files associated with this item to your downloads cart." ><span class="glyphicon glyphicon-plus"> </span> </button>

   	<input type="hidden" name="item_type"  value="{{ download_type }}" />
   	<input type="hidden" name="item_id"  value="{{ download_item_id }}" />
   	<input type="hidden" class="this_url" name="this_url"  value="" />

</form>

<script type="text/javascript">
    var inputs = document.getElementsByClassName('this_url');

    for(i = 0; i < inputs.length; i++){
      inputs[i].value = window.location.href;
    }

    $('.btn.btn-mini.btn-success').val(window.location.href);

    $(function()
    {
        $('.btn-mini').tooltip();
            
    });

</script>
{% endif %}
