{% extends "base.html" %}

{% block extra_hd %}
<title>{{ content.title }}</title>

<script>
$(document).ready(function($)
{
    $("#show-more").click(function(event){
        var $extra_info = $("#extra-info");
        if ($extra_info.is(":visible"))
        {
            $(this).html("Show more <span class='glyphicon glyphicon-triangle-right' aria-hidden='true'>");
            $extra_info.slideUp("slow");
        }
        else
        {
            $(this).html("Show less <span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'>");
            $extra_info.slideDown("slow");
        }
    })
})
</script>
{% endblock %}

{% block wrap %}
<div class="row">
    <h2>{{ content.title }}</h2>
    <p><span class="label label-primary">Piece</span> Created by {{ content.uploader.username }} on {{ content.created | date:"d F Y" }}. Last updated on {{ content.updated | date:"d F Y" }}.</p>
</div>

<div class="row">
    <dl class="dl-horizontal">
        <dt>Composer</dt>
        <dd><a href="{{ content.composer.url }}">{{ content.composer.name }}</a></dd>
        {% if content.date_of_composition  == content.date_of_composition2 %} 
        <dt>Date of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}</dd> 
        {% else %}
        <dt>Dates of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}-{{ content.date_of_composition2 | date:"Y" }} </dd>
        {% endif %}
        <dt><span style="cursor:pointer" id="show-more">Show more <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></span></dt>
        <dd></dd>
    </dl>
    <dl class='dl-horizontal' hidden="hidden" id="extra-info">
        <dt>Number of voices</dt>
        <dd>{{content.number_of_voices}}</dd>
        <dt>Tags</dt>
        <dd>
            {% for tag in content.tags %}
                <a href="{{ tag.url }}" class="label label-primary rounded">{{tag.name}} </a> &nbsp;
            {% endfor %}
        </dd>
        <dt>Religiosity</dt>
        <dd>{{ content.religiosity }}</dd>
        <dt>Voice Type</dt>
        <dd>{{ content.vocalization }}</dd>
    </dl>
    {% if content.comment %}
        <div class="form-group">
          <textarea class="form-control" rows="5" disabled="disabled" style="resize:none">{{ content.comment }}</textarea>
        </div>
    {% endif %}
        
    {% if content.attachments and user.is_authenticated %}
    <h3>Available Attachments</h3>
    <table class="table table-hover">
    <!-- Attachments & Form -->
    <dd>
        <tr>
            <th>Filename and Format</th>
            <th>Source</th>
        </tr>
        {% for attachment in content.attachments %}
        <tr>
            <td>
            <a href="{{ attachment.attachment }}">{{ attachment.file_name | default:"Download" }}</a>
            </td>
            <td>
            {{ attachment.source }}
            </td>
        </tr>
        {% endfor %}

    </dd>
    </table>

    {% endif %}

</div>

{% if content.movements %}
<div class="row">
    <h3>Movements <small>({{ content.movements | length }})</small></h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th width="5%"></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in content.movements %}
                <tr>
                    <td width="5%">
                        {% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=movement.item_id title="Add to Downloads" %}
                    </td>
                    <td><a href="{{ movement.url }}">{{ movement.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
