{% extends "base.html" %}

{% block extra_hd %}
    <title>Pieces</title>
    <script>
        $(document).ready(function ($)
        {
            creatorQuery();

            function creatorQuery()
            {
                var qstr = window.location.search.replace("?", "");
                var qstr_params = $.parseParams(qstr);
                if (qstr_params['creator'])
                {
                    $("#page-header").text(qstr_params['creator'] + "'s Uploaded Pieces")
                }
                else
                {
                    $("#page-header").text("Pieces")
                }
            }

        })
    </script>
{% endblock %}

{% block wrap %}
    <div class="page-header">
        <h2 id="page-header"></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "paginate.html" with content=content %}
            {% for piece in content.results %}
                <div class="list-row row-eq-height">
                    <div class='col-xs-1 list-add'>{% include "includes/download-badge-inc.html" with download_type="elvis_piece" download_id=piece.id in_cart=piece.in_cart %}</div>
                    <a href='{{ piece.url }}' class='list-item col-xs-11'>
                        {% if piece.movement_count > 0 %}<span style="float:right;"><span
                                class="label label-default">{{ piece.movement_count }} movement{{ piece.movement_count | pluralize }}</span></span> {% endif %}
                        <h4>{{ piece.title }}<br>
                            <small>
                                Composed by {{ piece.composer.name }}
                                {% if piece.composition_end_date %}in
                                    {{ piece.composition_end_date }}{% endif %}<br>
                            </small>
                        </h4>
                        {% if piece.tags %}
                            <p class='list-group-item-text'>Tags: {% for tag in piece.tags %}
                                <span class="label label-primary rounded"> {{ tag.name }} </span>
                                &nbsp; {% endfor %}</p>{% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "paginate.html" with content=content %}

{% endblock %}