{% extends "base.html" %}


<!-- The javascript function for the typeahead functionality on the fields. -->

{% block extra_hd %}
        <script type='text/javascript' src="{{ STATIC_URL }}js/elvis-scripts/upload-autocomplete.js"></script>
        <script type='text/javascript' src="{{ STATIC_URL }}bootstrap/plugins/bootstrap-filestyle.js"></script>

<script>
$(document).ready(function($)
{
    autocomplete("title", "title_suggestion_menu", "pieceSuggest");
    autocomplete("composer", "composer_suggestion_menu", "composerSuggest");
    autocomplete("collection", "collection_suggestion_menu", "collectionSuggest");
    $("#piece_att_files").filestyle({input:false, iconName: "glyphicon-file", buttonText: "Upload Files"});
    $("#id_comp_pic").filestyle({input:false, iconName: "glyphicon-picture", buttonText: "Composer Picture", disabled: "true"});
    $("#mov_files1").filestyle({input:false, iconName: "glyphicon-file", buttonText: "Movement Files"});


    // The dropdown form for additional composer information.
    var $newComposerMenu = $("#composer-create-new-menu");
    var $composerInput = $("#composer");
    $newComposerMenu.hide();

    $composerInput.on("focusout", function(event)
    {
        var query = $("#composer").val();

        if (query.length > 0)
        {
             $.ajax({
                url: "/composers/",
                data: {q: query},
                success: function (data)
                {
                    if (data['count'] == 0)
                    {
                        $newComposerMenu.children().remove(".top-message");
                        $newComposerMenu.prepend("<div class='top-message'><hr>We don't have <strong>" + query + "</strong> in our database. " +
                            "Submitting a piece by an unknown composer will add the composer to the database. <br>" +
                            "Do you have additional information to add to this new composer?<br><br></div>");
                        $newComposerMenu.slideDown("slow");
                        $("#is_new_composer").val("true");
                    }
                }
            });
        }
    });

    $composerInput.on("keydown", function(event)
    {
        $newComposerMenu.slideUp("slow");
        $("#is_new_composer").val("false");
    });




    //The movement table javascript.

    var mov_count = 2;
    var $newMovButton = $("#new_mov");
    var $movTable = $("#movement_table");
    initRow(1);

    //Defines movement-row adding behaviour for the plus button
    $newMovButton.on("click", function()
    {
        console.log($movTable);
        addRow($movTable);
        $newMovButton.blur();
    });

    function addRow(table)
    {
        var t_size = $movTable.children().length;
        table.append("<tr id='mov"+ mov_count +"'>" +
                         "<td class='text-center'><button id='del_mov" + mov_count + "' type='button' tabindex='-1' class='btn btn-default'>-</button></td>" +
                         "<td class='text-center' style='padding-top:14px'>" + t_size + "</td>" +
                         "<td><input name='mv_title_" + mov_count + "' id='mov_title" + mov_count + "' class='form-control'> </td>" +
                         "<td><input name='mv_files_" + mov_count + "' id='mov_files" + mov_count + "' type='file' multiple='multiple'></td></tr>");
        $("#mov_files" + mov_count).filestyle({input:false, iconName: "glyphicon-file", buttonText: "Movement Files"});
        initRow(mov_count);
        mov_count++;
    }

    function initRow(row)
    {
        $("#del_mov" + row).on("click", function(event)
        {
            console.log(event);
            var row_num = parseInt(event.currentTarget.getAttribute("id").substring(7));
            $("#mov_files" + row_num).filestyle('destroy');
            $movTable.children().remove("#mov" + row_num);
            renameRows();
        });
    }

    function renameRows()
    {
        for(var j = 1; j < $movTable.children().length; j++)
            {
                var temp = $movTable.children()[j];
                temp.children[1].innerHTML = j;
            }
    }

    // Maybe add asynchronous file uploads using ajax?

});

</script>



{% endblock %}


{% block wrap %}

<div class="page-header">
    <h2>Upload a Piece</h2>
</div>

<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#required">Basics</a></li>
        <li><a data-toggle="tab" href="#advanced-info">Advanced</a></li>
    </ul>
    <form action="/pieces/" id="piece-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="tab-content">

            <div id="required" class="tab-pane fade in active">
                <h4>Piece Information</h4>
                <hr>

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Title</span>
                  <input type="text" id="title" name="title" autocomplete="off" class="form-control" placeholder="e.g. Ach Gott, vom Himmel sieh darein, BWV 2" aria-describedby="basic-addon1">
                </div>
                <div id="title_suggestion_menu"></div>

                <br>

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Composer</span>
                    <input type="text" id="composer" autocomplete="off" name="composer" class="form-control" placeholder="e.g. Bach, Johann Sebastian" aria-describedby="basic-addon1">
                </div>
                <input type="text" id="is_new_composer" hidden="hidden">
                <div id="composer_suggestion_menu"></div>

                <div id="composer-create-new-menu" style="padding-left:50px; padding-right:50px">
                    <div class="row" style="padding-left:20px; padding-right:20px">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='date' name="composer_birth_date" id="composer_birth_date" max="2000-01-01" class="form-control unstyled"/>
                                    <span class="input-group-addon">Birth</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type='date' name="composer_death_date" id="composer_death_date" max="2000-01-01" class="form-control unstyled"/>
                                    <span class="input-group-addon">Death</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="comp_pic" id="id_comp_pic" type="file" multiple="multiple"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Composition Start Date</span>
                                <input type='date' name="composition_start_date" id="composition_start_date" max="2000-01-01" class="form-control unstyled"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Composition End Date</span>
                                <input type='date' name="composition_end_date" id="composition_end_date" max="2000-01-01" class="form-control unstyled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Collection</span>
                    <input type="text" id="collection" name="collection" autocomplete="off" class="form-control" placeholder="e.g. Alex's Collection" aria-describedby="basic-addon1">
                </div>
                <div id="collection_suggestion_menu"></div>

                <br>
                <h4>Piece Attachments</h4>
                <hr>
                <span class="help-block">
                    The files for the piece can be attached here. Acceptable file types are .zip, .pdf, and .mtxt. Individual
                    movements can be defined below.
                </span>
                <input name="piece_att_files" id="piece_att_files" type="file" multiple="multiple"/>
                <br>

                <h4>Movements</h4>
                <span class="help-block">
                    The movements of the piece can be defined here. Each movement may also have files
                    attached to it which represent the movement itself.
                </span>
                <table class="table table-hover" >
                    <colgroup>
                        <col class="text-center" style="width: 5%;">
                        <col style="width: 5%;">
                        <col style="width: 65%;">
                        <col style="width: 30%;">
                    </colgroup>
                        <tbody id="movement_table">
                        <tr>
                            <th class="text-center">+/-</th>
                            <th class="text-center">#</th>
                            <th>Title</th>
                            <th>Files</th>
                        </tr>
                        <tr id='mov1'>
                            <td class="text-center"><button id="del_mov1" type="button" tabindex="-1" class="btn btn-default">-</button></td>
                            <td class="text-center" style="padding-top:14px">1</td>
                            <td><input name='mv_title_1' id="mov_title1" placeholder="The first movement" class='form-control'></td>
                            <td><input name='mv_files_1' id='mov_files1' type='file' multiple='multiple'></td>
                        </tr>
                        </tbody>
                </table>
                <div><button id="new_mov" type="button" class="btn btn-default" >Add Movement</button></div>


            </div>

            <div id="advanced-info" class="tab-pane fade">
                <h3>Advanced</h3>
                <p>Maybe put tags and stuff here.</p>
            </div>
        </div>
        <br>

        <button type="submit" id="piece-submit" name="piece-submit" class="btn btn-success pull-right move">Submit <span class="glyphicon glyphicon-chevron-right"></span></button>
    </form>
</div>


{%  endblock %}

