{% extends "base/base_detail.html" %}

{% block extra_hd %}
    <title>{{ content.title }}</title>
    {{ block.super }}
    <script>
        $(document).ready(function ($) {

            $("#delete-button").click(function (event) {
                $base_modal_header.html("<h4 class='modal-title'>Confirm Deletion.</h4>");
                $base_modal_body.html("<p>Are you sure you want to delete this piece?</p>");
                $base_modal_footer.html('<button type="button" class="btn btn-default" data-dismiss="modal">No</button>' +
                        '<button id="confirm-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">' +
                        '<span class="glyphicon glyphicon-remove"></span>Yes</button>');
                $base_modal.modal('show');
                $("#confirm-delete-button").click(function (event) {
                    $.ajax({
                        type: "delete",
                        url: window.location.href,
                        success: function (data) {
                            document.location.href = '/pieces/mine/';
                        }
                    })
                });
            });
        });
    </script>
{% endblock %}


{% block detail_buttons %}
    {% include "base/download-badge.html" with id=content.uuid type="elvis_piece" button_type="button" in_cart=content.in_cart%}
{% endblock %}

{% block detail_header %}
    <h2>{{ content.title }}</h2>
    <a href="{{ content.composer.url }}" class="label label-composer">{{ content.composer.title }}</a>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <a href="{{ content.url }}" class="label label-piece">{{ content.title }}</a>
{% endblock %}
{% block detail_tab_content %}

    {% include "base/detail_printout.html" %}

    {% if content.comment %}
        <h3>Comment</h3>
        <div id="hidden-comment" hidden="hidden">{{ content.comment }}</div>
        <div id='rendered-comment' class="well"></div>
    {% endif %}

    {% if content.movements %}
        <h3>Movements
            <small>({{ content.movements | length }})</small>
        </h3>
        {% for m in content.movements %}
            {% include "base/list_item_compact.html" with url=m.url title=m.title id=m.uuid type="elvis_movement" in_cart=m.in_cart%}
        {% endfor %}
    {% endif %}

    {% if content.attachments %}
        <div id="xmlwindow" class="modal">
            <div id="xmlstuff" class="modal-content">
                <span class="close">x</span>
            </div>
        </div>

        <h3>Attachments
            <small>({{ content.attachments | length }})</small>
        </h3>
        {% for a in content.attachments %}
            {% include "base/list_item_compact.html"  with url=a.url title=a.title attachment=True %}
            <ul style="list-style-type:none">
                {% if a.jsymbolic_values_xml %}
                    <li>
                        <a href='{{ a.jsymbolic_values_xml }}'>XML values file</a>
                    </li>
                {% endif %}
                {% if a.jsymbolic_definitions_xml %}
                    <li>
                        <a href='{{ a.jsymbolic_definitions_xml }}'>XML definitions file</a>
                    </li>
                {% endif %}
                {% if a.jsymbolic_values_csv %}
                    <li>
                        <a href='{{ a.jsymbolic_values_csv }}'>CSV values file</a>
                    </li>
                {% endif %}
                {% if a.jsymbolic_values_weka %}
                    <li>
                        <a href='{{ a.jsymbolic_values_weka }}'>ARFF/Weka values file</a>
                    </li>
                {% endif %}
                {% if a.jsymbolic_values_xml %}
                    <li><button  id="button-input" class="btn" onclick="click()">Display feature values</button></li>


                    <script>

                        var modal = document.getElementById('xmlwindow')
                        var span = document.getElementsByClassName("close")[1]
                        span.onclick = function() {
                            modal.style.display = "none"
                        }





                        $(".btn").click(function(a){
                            var dataurl = $("a[href$='.xml']")
                            var rawXML = $.get(dataurl[0])#}

{#                            var file = e.target.files[0];#}
{#                            if (!file) {#}
{#                                return;#}
{#                            }#}
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                modal.style.display = "block"
                                $('#xmlwindow').css("height", "200px");
                                $('#xmlwindow').css("overflow", "auto");
                                $('#xmlwindow').css("width", "200px");
                                $('#xmlwindow').css("position", "absolute");
                                $('#xmlwindow').css("left", "50%");
                                $('#xmlwindow').css("top", "50%");
{#                                var rawXML = e.target.result;#}
                                // Parse it
                                var xmlParsed = $.parseXML(rawXML);

                                // find the <document> tag
                                var xmlDoc = $(xmlParsed).find('data_set');

                                // find the <row> tag
                                var xmlRow = xmlDoc.find('feature');

                                // loop over <row> tags
                                $(xmlRow).each(function() {
                                    // find the Col + i and append it's text to the #xmlstuff div
                                    $('#xmlstuff').append($(this).find('name').text()).append('<br/>');
                                    $('#xmlstuff').append($(this).find('v').text()).append('<br/>');

                                });

                            };
                            reader.readAsText(file);




                        })

                    </script>
                {% endif %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block options_tab_content %}
    <button type="button" class="btn btn-default" id="delete-button">Delete</button>
    <a href="{{ content.url }}update/" class="btn btn-default" id="update-button">Update</a>
{% endblock %}
