{% extends "base.html" %}

{% block extra_hd %}
    <title>{{ content.title }}</title>
    {% load staticfiles %}
    <script type='text/javascript' src="{% static "bootstrap/plugins/markdown.min.js" %}"></script>
    <script>
        $(document).ready(function ($)
        {
            $("#delete-button").click(function (event)
            {
                $base_modal_header.html("<h4 class='modal-title'>Confirm Deletion.</h4>");
                $base_modal_body.html("<p>Are you sure you want to delete this piece?</p>");
                $base_modal_footer.html('<button type="button" class="btn btn-default" data-dismiss="modal">No</button>' +
                        '<button id="confirm-delete-button" type="button" class="btn btn-danger" data-dismiss="modal">' +
                        '<span class="glyphicon glyphicon-remove"></span>Yes</button>');
                $base_modal.modal('show');
                $("#confirm-delete-button").click(function (event)
                {
                    $.ajax({
                        type: "post",
                        url: "/pieces/",
                        data: {'delete': {{ content.item_id }}},
                        success: function (data)
                        {
                            console.log("Deleted {{ content.title }}");
                            document.location.href = '/pieces/?creator={{ user.username }}';
                        }
                    })
                });
            });
            $("#rendered-comment").html(markdown.toHTML($("#hidden-comment").text()))
        })
    </script>
{% endblock %}

{% block wrap %}
    <div class="page-header">
        <h2>{{ content.title }}
            <span class="pull-right">
                {% if user.id == content.uploader.pk or user.is_superuser %}
                    <button type="button" class="btn btn-default" id="delete-button">Delete</button>
                    <a href="{{ content.url }}update/" class="btn btn-default" id="update-button">Update</a>
                {% endif %}
                {% include "includes/download-button-inc.html" with download_type="elvis_piece" download_item_id=content.item_id title="Add to Downloads" in_cart=content.in_cart %}

            </span>
        </h2>
        <p>
            <span class="label label-success">Piece</span> - Created
            by {{ content.uploader.username }}
            on {{ content.created | date:"d F Y" }}. Last updated
            on {{ content.updated | date:"d F Y" }}.
        </p>
    </div>



    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Composer</dt>
                <dd>
                    <a href="{{ content.composer.url }}">{{ content.composer.name }}</a>
                </dd>
                <dt>Date of Composition</dt>
                {% if content.composition_start_date  == content.composition_end_date %}
                    <dd>{{ content.composition_start_date }}</dd>
                {% elif content.composition_start_date %}
                    <dd>{{ content.composition_start_date }}-{{ content.composition_end_date }} </dd>
                {% else %}
                    <dd>{{ content.composition_end_date }}</dd>
                {% endif %}
                <dt>Number of voices</dt>
                <dd>
                    {{ content.number_of_voices }}
                </dd>
                <dt>Genre{{ content.genres|length|pluralize }}</dt>
                <dd>
                    {% for genre in content.genres %}
                        {{ genre.name }}{% if not forloop.last %},&nbsp;
                        {% endif %}
                    {% empty %}
                        Unknown
                    {% endfor %}
                </dd>
                <dt>Instrument
                    Voice{{ content.instruments_voices|length|pluralize }}</dt>
                <dd>
                    {% for instrument in content.instruments_voices %}
                        {{ instrument.name }}{% if not forloop.last %},&nbsp;
                        {% endif %}
                    {% empty %}
                        Unknown
                    {% endfor %}
                </dd>
                {% if content.collections %}
                    <dt>Collection{{ content.collections|length|pluralize }}
                    <dd>
                    {% for collection in content.collections %}
                        {% if collection.public %}
                            <a href="{{ collection.url }}">{{ collection.title }}</a>
                        {% endif %}
                    {% endfor %}
                    </dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class='dl-horizontal'>

                <dt>Place of Origin</dt>
                <dd>
                    {% for place in content.locations %}
                        {{ place.name }}{% if not forloop.last %},&nbsp;
                        {% endif %}
                    {% empty %}
                        Unknown
                    {% endfor %}
                </dd>
                <dt>Language{{ content.languages|length|pluralize }}</dt>
                <dd>
                    {% for language in content.languages %}
                        {{ language.name }}{% if not forloop.last %},&nbsp;
                        {% endif %}
                    {% empty %}
                        Unknown
                    {% endfor %}
                </dd>
                <dt>Source{{ content.languages|length|pluralize }}</dt>
                <dd>
                    {% for source in content.sources %}
                        {{ source.name }}{% if not forloop.last %},&nbsp;
                        {% endif %}
                    {% empty %}
                        Unknown
                    {% endfor %}
                </dd>
                <dt>Religiosity</dt>
                <dd>{{ content.religiosity }}</dd>
                <dt>Voice Type</dt>
                <dd>{{ content.vocalization }}</dd>
                {% if content.tags %}
                    <dt>Tag{{ content.tags.count|length|pluralize }}</dt>
                    <dd>
                        {% for tag in content.tags %}
                            <a href="{{ tag.url }}"
                               class="label label-primary rounded">{{ tag.name }} </a>
                            &nbsp;
                        {% endfor %}
                    </dd>
                {% endif %}
            </dl>
        </div>
    </div>

    {% if content.comment %}
        <div id="hidden-comment" hidden="hidden">{{ content.comment }}</div>
        <div id='rendered-comment' class="well"></div>
    {% endif %}

    {% if content.movements %}
        <div class="col-md-12">
            <h3>Movements
                <small>({{ content.movements | length }})</small>
            </h3>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                {% for movement in content.movements %}
                    <tr>
                        <td class="text-center">
                            {% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=movement.item_id title="Add to Downloads" in_cart=movement.in_cart %}
                        </td>
                        <td>
                            <a href="{{ movement.url }}">{{ movement.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    {% if content.attachments and user.is_authenticated %}
            <div class="col-md-12">
                <h3>Available Attachments</h3>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="60%">Title</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attachment in content.attachments %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="{{ attachment.url }}">{{ attachment.file_name | default:"Download" }}</a>
                            </td>
                            <td>{{ attachment.source }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}



{% endblock %}
