{% extends "base.html" %}

{% block wrap %}
<div class="row">
    <h2>{{ content.title }}</h2>
    <p><span class="label label-primary">Piece</span> Created by {{ content.uploader.username }} on {{ content.created | date:"d F Y" }}. Last updated on {{ content.updated | date:"d F Y" }}.</p>
    <p>Comments: {% autoescape off %}{{ content.comment }}{% endautoescape %}</p>

</div>

<div class="row">
    <dl class="dl-horizontal">
        <dt>Composer</dt>
        <dd><a href="{{ content.composer.url }}">{{ content.composer.name }}</a></dd>
        {% if content.date_of_composition  == content.date_of_composition2 %} 
        <dt>Date of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}</dd> 
        {% else %}
        <dt>Dates of Composition</dt>
        <dd>{{ content.date_of_composition | date:"Y"}}-{{ content.date_of_composition2 | date:"Y" }} </dd> 
        {% endif %}
        <dt>Collections</dt>
        {% for collection in content.collections %}
            <dd><a href="{{collection.url}}">{{ collection.title }}</a></dd>
        {% endfor %}
        <dt>Number of voices:</dt>
        <dd>{{content.number_of_voices}}</dd>
        {% if content.piece %}
        <dt>Piece</dt>
        <dd><a href="{{content.piece.url}}">{{content.piece.name}}</a></dd>
        {% endif %}
        <dt>Tags</dt>
        <dd>
            {% for tag in content.tags %}
                <a href="{{ tag.url }}" class="label label-primary rounded">{{tag.name}} </a> &nbsp;
            {% endfor %}
        </dd>
    </dl>
        
        {% if content.attachments and user.is_authenticated %}
        <h3>Available Attachments</h3>
        <table class="table table-condensed">
        <!-- Attachments & Form -->
        <form id="patch-download-form" action="/downloads/" method="post">
        {% csrf_token %}
        <dd>
                <tr>
                    <th>Add to Downloads</th>
                    <th>Filename and Format</th>
                </tr>
                {% for attachment in content.attachments %}
                <tr>
                    <td>
                    <input type="checkbox" name="a_ids" value="{{ attachment.id }}" checked="true">
                    </td>
                    <td>
                    <li><a href="{{ attachment.attachment }}">{{ attachment.file_name | default:"Download" }}</a></li>
                    </td>   
                </tr>
                {% endfor %}

        </dd>
        </table>
        <input type="hidden" name="this_url" value="{{ content.url }}" />
        <button type="submit" class="btn btn-default btn-sm">
         Add Selected to Downloads
            <span class="glyphicon glyphicon-plus"></span> 
        </button>
        </form> 
        
        {% endif %}

</div>

{% if content.movements %}
<div class="row">
    <h3>Movements <small>({{ content.movements | length }})</small></h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in content.movements %}
                <tr>
                    <td class="small-column">
                        {% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=movement.item_id title="Add to Downloads" %}
                    </td>
                    <td><a href="{{ movement.url }}">{{ movement.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
