{% extends "base.html" %}

{% block wrap %}
<div class="row">
    <h2>{{ content.title }} <small>{{ content.composer.name }}</small></h2>
    <p><span class="label label-primary">Piece</span> Created by {{ content.uploader.username }} on {{ content.created | date:"d F Y" }}. Last updated {{ content.updated | date:"d F Y" }}.</p>
    <p>{{ content.comment }}</p>
    {% include "includes/download-badge-inc.html" with download_type="piece" download_item_id=content.item_id title="Download Piece" %}

</div>

<div class="row">
    <dl class="dl-horizontal">
        <dt>Date of Composition</dt>
        <dd>{{ content.date_of_composition }}</dd>
        <dt>Corpus</dt>
        <dd><a href="{{content.corpus.url}}">{{ content.corpus.title }}</a></dd>
        <dt>Number of voices:</dt>
        <dd>{{content.number_of_voices}}</dd>
        {% if content.piece %}
        <dt>Piece</dt>
        <dd><a href="{{content.piece.url}}">{{content.piece.name}}</a></dd>
        {% endif %}
        <dt>Tags</dt>
        <dd>
            {% for tag in content.tags %}
                <a href="{{ tag.url }}">{{ tag.name }} </a>
            {% endfor %}
        </dd>
        <dt>Attachments</dt>
        <dd>
            <ul>
                {% for attachment in content.attachments %}
                    <li><a href="{{ attachment.attachment }}">{{ attachment.description | default:"Download File" }}</a></li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>

{% if content.movements %}
<div class="row">
    <h3>Movements <small>({{ content.movements | length }})</small></h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in content.movements %}
                <tr>
                    <td class="small-column">
                        {% include "includes/download-badge-inc.html" %}
                    </td>
                    <td><a href="{{ movement.url }}">{{ movement.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}