{% extends "base.html" %}

{% block wrap %}
<h2>Pieces <small>({{ content.count }})</small></h2>

{% include "paginate.html" with content=content %}

<div class="list-group">
{% for piece in content.results %}
    <a href="{{ piece.url }}" class="list-group-item">
        <span class="badge">{{ piece.movements | length }} Movements, {{ piece.attachments | length }} Attachments</span>
        <h4 class="list-group-item-heading">{{ piece.title }} <small>({{ piece.composer.name }})</small></h4>
        <p class="list-group-item-text">
            <small>Uploaded by {{ piece.uploader.username }} on {{ piece.created }}</small><br />
            {{ piece.comment | truncatechars:100 }}
        </p>
    </a>
{% endfor %}
</div>

{% include "paginate.html" with content=content %}

{% endblock %}