{% extends "base.html" %}
{% load rest_framework %}
{% load filter_methods %}

{% block wrap %}
<h2>Pieces</h2>

{% include "paginate.html" with content=content %}

<div class="list-group">
{% for piece in content.results %}
    <a href="{{ piece.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ piece.title }} ({{ piece.composer.name }})</h4>
        <p class="list-group-item-text">
            <small>Uploaded by {{ piece.uploader.full_name }} on {{ piece.created }}</small><br />
            {{ piece.comment | truncatechars:100 }}
        </p>
    </a>
{% endfor %}
</div>

{% include "paginate.html" with content=content %}

{% endblock %}