{% extends "base.html" %}
{% load rest_framework %}

{% block wrap %}

<style type="text/css">

.prof-pic {
	width:140px;
	height:150px;
	overflow:hidden;
	border-radius:70px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#main-frame {
	background-color:#FFF8DC;
	box-shadow: 0px 0px 0px #888;
}

.name {
	text-align:center;
	color:#404040;
}

</style>

<div class="container-fluid">
<div class="row-fluid">
	<div class="span12">
	{% if content %}
		{% if length = 1 %}
			<h4> There is 1 user. </h4>
		{% else %}
		<h4> There are {{ length }} users. </h4>
		{% endif %}
	</div>
<div/>

{% for list in content %}
<div class="row-fluid">
	{% for userprofile in list %}
		<div class="span3">
			<a href="{{ userprofile.id }}"> 
				<img class="prof-pic" src="{{MEDIA_URL}}photos/{{userprofile.picture}}" alt="Profile Picture"/> 
				<div class="name"><h4> {{ userprofile.user.first_name }} {{userprofile.user.last_name}} </h4></div>
			</a> 
		</div>
	{% endfor %}
</div>
{% endfor %}

</div>
	
{% else %}
	There are no users.
{% endif %}

{% endblock %}