{% extends "base.html" %}

{% block wrap %}

<style type="text/css">

#main-result-frame {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    background-color: #FFFFFF;
}

#separator-activity {
    border-top:solid;
    border-width:2px;
    border-color:#909090;
    margin-left:40px;
    margin-right:40px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.descrip {
    border-bottom:solid;
    border-width:1px;
}

#id_description {
    border:0;
    background:none;
    outline:0;   
    font-size:1.5em; 
}

.dostuff {
    border: .3em solid #FFFFFF;
    height: 4em;
    width: 8em;
    margin-left:50px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    background:#E0FFFF;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.inner-stuff {
    padding-top:10px;
    padding-bottom:10px;
}
.submit-button {
    text-align:center;
}

#main-result-frame .span3 {
    text-align:center;
    margin-left:0px;
    width:25% !important;

}

</style>

<div class="container-fluid" id="main-result-frame">

<div class="span3" id="add-corpus-col">
   <!--<div class="dostuff">-->
    <a href="/upload/corpus/">
        <div class="inner-stuff">
          <img src="{{STATIC_URL}}img/plus-blue.png"/><br>
           <b>Add corpus  </b>
        </div>
    </a>
   <!-- </div> -->
</div>

<div class="span3" id="add-piece-col">
    <a href="/upload/piece/">
    <div class="inner-stuff">
      <img src="{{STATIC_URL}}img/plus-yellow.png"/><br>
       <b>Add piece </b>
    </div>
    </a>
</div>

<div class="span3" id="add-movement-col">
    <a href="/upload/movement/">
    <div class="inner-stuff">
       <img src="{{STATIC_URL}}img/plus-red.png"/><br>
        <b>Add movement</b>
    </div>
    </a>
</div>

<div class="span3" id="add-project-col">
    <a href="/upload/project/" id="add-project-col">
    <div class="inner-stuff">
      <img src="{{STATIC_URL}}img/plus-green.png"/><br>
       <b>Add project  </b>
    </div>
    </a>
</div>

</div>

    {% block content %}
    {% endblock %}

{% endblock %}