{% extends "base.html" %}
{% block extra_hd %}
<title>Downloading...</title>
{% endblock %}
{% block page_content %}
<!-- LM TODO: Catch exceptions to stop it from setIntervalling over the exception infinitely -->

<script type="text/javascript" >

$(document).ready(function()
{
    var $progress = $("#progress");
    var $downloadLink = $("#download-link");
    var checkInterval = setInterval(checkState, 250);

    function checkState()
    {
        var task_id = $.parseParams(window.location.search.replace("?", ""))['task'];
        $.ajax({
            type: "get",
            url: "/downloading/?format=json&task=" + task_id,
            success: function (data)
            {
                if (data['state'] === "PROGRESS")
                {
                    $progress.css("width", data['info']['percent'] + "%");
                    $progress.text(data['info']['curr'] + "/" + data['info']['total'])
                }
                else if (data['ready'] === true && data['state'] === "SUCCESS")
                {
                    clearInterval(checkInterval);
                    var link = '/media/' + data['path'];
                    $($progress.parent()).removeClass('progress-striped');
                    $progress.removeClass('active').css("width", "100%").text('Done!');
                    $downloadLink.html("<a href='" + link + "' class='button btn btn-success'>Download Files</a>");
                    window.location.replace(link);
                }
                else if (data['state'] === "FAILURE")
                {
                    $($progress.parent()).removeClass('progress-striped');
                    $progress.removeClass("progress-bar-info active").addClass("progress-bar-danger").css("width", "100%").text("Failed!");
                }
            }
        })
    }
});
</script> 

<div class="col-md-12">

    <div class="page-header">
        <h2>Zipping...</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-info active" id="progress" style="width:5%"></div>
            </div>
        </div>
        <div class="col-xs-12 text-center" id="download-link">
        </div>
    </div>

</div>

{% endblock %}
