{% extends "base.html" %}
{% block extra_hd %}
<title>Downloads</title>
{% endblock %}

{% block wrap %}
<script type="text/javascript">
    $(function()
    {
        $('#select-cwa').tooltip();
            
    });
</script>


<div class="page-header">
    <h2>Select Files</h2>
</div>
<div class="col-md-12">
    <form id="download-form" action="/downloading/" method="post" > {% csrf_token %}
        <div class="row">
            <span class="help-block">Below are all files associated with your download cart. You may uncheck individual items to not download them, or use the boxes
            at the bottom of the page to include/exclude all of a specific file type.</span>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="2%"> <input type="checkbox" name="select-all" id="select-all" checked="true"/>  </th>
                        <th width="21%">Title</th>
                        <th width="22%">File Name </th>
                        <th width="20%">Composer</th>
                        <th width="11%">Date</th>
                        <th width="8%">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attachment in content.attachments %}
                        <tr>
                            {% for piece in attachment.pieces %}
                                <!-- Old item value {{ attachment.attachment_path }}/{{ attachment.file_name }} -->
                                <td width="2.5%"> 
                                <input class="checkable" type="checkbox" name="a_ids" value="{{ attachment.id }}" checked="true">
                                </td>
                                <td width="21%"><a href="{{ piece.url }}">{{ piece.title }}</a></td>
                                <td width="22.5%"> {{ attachment.file_name }} </td>
                                <td width="20.5%"><a href="{{ piece.composer.url }}">{{ piece.composer.name }}</a></td>
                                <td width="11.5%">{% if piece.composition_start_date  == piece.composition_end_date %}{{ piece.composition_start_date | date:"Y" }}{% else %}{{ piece.composition_start_date | date:"Y" }}-{{ piece.composition_end_date | date:"Y" }}{% endif %}</td>
                                <td width="7%"><span class="label label-success">Piece</span></td>
                            {% endfor %}
                            {% for mvmt in attachment.movements %}
                                <td width="2.5%">
                                <input class="checkable" type="checkbox" name="a_ids" value="{{ attachment.id }}" checked="true">
                                </td>
                                <td width="21%"><a href="{{ mvmt.url }}">{{ mvmt.title }}</a></td>
                                <td width="22.5%"> {{ attachment.file_name }} </td>
                                <td width="20.5%"><a href="{{ mvmt.composer.url }}">{{ mvmt.composer.name }}</a></td>
                                <td width="11.5%">{% if mvmt.composition_start_date  == mvmt.composition_end_date %}{{ mvmt.composition_start_date | date:"Y" }}{% else %}{{ mvmt.composition_start_date | date:"Y" }}-{{ mvmt.composition_end_date | date:"Y" }}{% endif %}</td>
                                <td width="7%"><span class="label label-primary">Movement</span></td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                <em>No downloads.</em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script type="text/javascript">
            // This script HAS to be here.
                $('#select-all-label').click(function(event)
                {
                    $('#select-all').click();
                });
                $('#select-all').click(function(event) 
                {
                    if(this.checked) 
                    {
                        $('.checkable').each(function() 
                        {
                            this.checked = true;
                        });
                    }
                    else 
                    {
                        $('.checkable').each(function() 
                        {
                            this.checked = false;
                        });
                    }
                });
            </script>
        </div>


        {% if content.attachments %}
        <div class="row">
            <h4>Download/Remove all:</h4>
            <!-- if these are modified, modify downloading_item view too -->
            <label class="checkbox-inline" data-toggle="buttons">
                <input type="checkbox" id="mei-select" name="extension" value=".mei" checked="true"> MEI
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="musicxml-select" name="extension" value=".xml" checked="true"> MusicXML
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="midi-select" name="extension" value=".midi" checked="true"> MIDI
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="pdf-select" name="extension" value=".pdf" checked="true"> PDF
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="kern-select" name="extension" value=".krn" checked="true"> **kern
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="else-select" name="extension" value="OTHERS" checked="true"> All Others
            </label>
            <span class="help-block">Select which file types you wish to download. If a piece or movement does not have one of your selected file types, it will not be downloaded. Choose "all others" to download any formats that do not appear in this checklist. The same applies for removal -- files with the selected types will be removed.</span>
        </div>




        <div class="row">
            <button id="download-all" name="download-all" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Download Selected</button>
            
            <button id="remove-all" name="remove-selected" type="submit" class="btn btn-danger" onClick="return confirm('Are you sure you want to remove these items?')"><span class="glyphicon glyphicon-remove"></span> Remove Selected</button>
            
            <button id="select-cwa" name="select-elvis" type="submit" class="btn btn-danger" data-container="body" data-toggle="tooltip" data-placement="top" title="This will find the file best formatted for the ELVIS Web App in each piece or movement, and remove everything else regardless of which files or file types you have selected above. Formats incompatible with Music21 will be removed."><span class="glyphicon glyphicon-remove"></span> Filter for Web App</button>
            
        </div>
        {% endif %}

    </form>
</div>



{% endblock %}
