<div class="btn-group" style="width:95%;">
    <button class="btn btn-xs dropdown-toggle movement-dropdown-button" data-toggle="collapse" data-target="#movements-piece-{{ forloop.counter }}">Movements ({{ piece.movements | length }}) <span class="caret"></span></button>
</div>
<div id="movements-piece-{{ forloop.counter }}" class="collapse collapsed movement-dropdown-collapse">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Movement Name</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in piece.movements %}
                <tr>
                    <td class="small-column">{% include "includes/download-badge-inc.html" with download_type="elvis_movement" download_item_id=movement.item_id %}</td>
                    <td><a href="{{ movement.url }}">{{ movement.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>